[2022-06-29 04:03] WillDaSilva commented on #6306
The culprit appears to be the `log_output` fixture. It instantiates a `structlog.testing.LogCapture` instance, which appears to be installed globally.

This change of global state prevents `caplog` from capturing the log messages expected by the flaky test. This only results in a problem when Snowplow Micro fails to start, which happens rarely in GitHub CI, but consistently in GitLab CI (Docker-in

[2022-06-29 04:05] WillDaSilva commented on #6306
The good news is that we only have 1 test that uses `caplog`: `test_get_snowplow_tracker_invalid_endpoint`. The solution should be to get rid of `caplog`, and use the `log_output` fixture instead.

[2022-06-29 04:22] WillDaSilva commented on #6306
The solution was actually to reset the global effects of `fixture_configure_structlog` after it was done being used.

[2022-06-29 07:51] jaypeedevlin commented on #2846
Quoting @tayloramurphy's comment from the original GitLab issue for context:

I'm curious about reviving this request based on changes in Meltano 2.0.

It [appears](https://docs.meltano.com/guide/transformation#adding-a-transform-to-your-meltano-project:~:text=If%20you%20plan%20to%20call%20dbt%20directly%20using%20invoke%20then%20you%20have%20to%20first%20run%20meltano%20invoke%20dbt%3Adeps%20to%2

[2022-06-29 13:42] #6306 closed

[2022-06-29 14:18] WillDaSilva opened #6311 "`meltano select tap-gitlab tags "*"` fails on Windows"
Example: https://gitlab.com/meltano/legacy-ci/meltano/-/jobs/2653845782

This occurs with Meltano built from `main`, i.e. `fb6ed89799eb341bea295350ea809e5049ee7ca6`.

[2022-06-29 14:46] edgarrmondragon opened #6312 "Jobs are not written back to `include_paths` file"
Steps to reproduce:

1. Add a job manually to an included path:

[code]

1. Register the included path

[code]

1. Read operations work as expected:

[code]

1. Update operations fail to write the update job back to the original file

[code]

[code]

[code]

[2022-06-29 15:36] visch opened #6315 "Forked Repos don't allow actions to run"
Check out https://github.com/meltano/meltano/pull/6314

From chatting with @WillDaSilva we found https://docs.github.com/en/actions/managing-workflow-runs/approving-workflow-runs-from-public-forks , and https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request_target

It looks like we need to implement the `pull_request_target` event in our github actions.

What

[2022-06-29 15:36] edgarrmondragon opened #6316 "Update schemas in JSON Schema Store to point to files in GitHub"
Related:

- https://github.com/SchemaStore/schemastore/pull/2324

[2022-06-29 15:36] WillDaSilva opened #6317 "Move `getting_start_windows` GitLab CI job tests under Pytest"
Where practical, we should consolidate our tests under Pytest - it's good for more than just unit tests. This GitLab CI job was failing, but since all of the Pytest runs on GitHub and GitLab were passing it was mistakenly ignored.

Relates to #6311

@visch

[2022-06-29 15:44] visch commented on #6315
Maybe caused by https://www.githubstatus.com/  ?

[2022-06-29 16:23] #6315 closed

[2022-06-29 16:24] WillDaSilva commented on #6315
Was caused by the GitHub Actions outage.

[2022-06-29 16:26] alxthm commented on #3437
Based on your input, I made a small python script to transform meltano schedules (both job and elt schedule, in json format) into a crontab file:
https://gist.github.com/alxthm/b62eceb1e47f0320e5bd82a67f33e042

I am currently using it this way:
[code]

It relies on a `CRONTAB_MELTANO_EXECUTABLE` environment variable to specify the path to `meltano` (in case it is not in the crontab PATH).

Happy i

[2022-06-29 16:46] edgarrmondragon commented on #6316
Closed by https://github.com/SchemaStore/schemastore/pull/2324

[2022-06-29 16:48] WillDaSilva commented on #6130
Copying over my comments from the Office Hours Zoom chat, regarding `service`:

i.e. `meltano service start my-service`

It might be pretty elegant and powerful if we can offload the work here onto systemd and the `service` command. The catch would be that it would only work for systems that use systemd. We could get macOS support by wrapping `launchctl`, but I'm not sure the amount of work there

[2022-06-29 16:48] edgarrmondragon commented on #6316
Closed by https://github.com/SchemaStore/schemastore/pull/2324

[2022-06-29 16:48] #6316 closed

[2022-06-29 18:02] WillDaSilva opened #6319 "`meltano --help` fails on Windows in some environments"
Running any Meltano command in my fresh Windows VM results in the following error:

![image](https://user-images.githubusercontent.com/11428666/176504379-a9489721-09b5-4a2d-ad83-c2f5a37adfb0.png)

Sorry for the image of text - I forgot to enable the shared clipboard for the VM.

The failure is happening here:

[code]

This might be because I'm running under git bash instead of Powershell.

We had

[2022-06-29 18:08] aaronsteers commented on #6319
Thanks for identifying and logging, @WillDaSilva . Would be worth picking up as soon as we have capacity. Thanks!

[2022-06-29 18:08] WillDaSilva commented on #6311
Found the root cause: https://github.com/pallets/click/pull/1830

[2022-06-29 18:12] WillDaSilva commented on #6319
Okay @aaronsteers, I've moved it into the current iteration, and moved https://github.com/meltano/meltano/issues/6234 into the next one to compensate (not that they'll take nearly the same amount of time, but we'll see what I have time for in the end).

[2022-06-29 19:36] #6319 closed

[2022-06-29 20:01] pandemicsyn opened #6322 "Considering removing product as codeowners for some core files"
Currently, the @meltano/product group is listed as a CODEOWNER of:

[code]

Some of these like package.json, pyproject.toml, etc, could update somewhat frequently due to day to day maintenance tasks - so might be worth reconsidering if Product should really be required to approve changes to these.

[2022-06-29 20:44] pandemicsyn commented on #6170
@pnadolny13 i don't think it's just feature drift related, quite a few of the top-level keys (transformers, orchestrators, etc) in the discovery jsonschema are also failing because of mismatch in required fields (i.e. getting passed a `variant` key or missing a `logo_url` key).

[2022-06-29 21:10] #6311 closed

[2022-06-30 00:32] WillDaSilva commented on #6317
Closing in favor of #6218

[2022-06-30 00:32] #6317 closed

[2022-06-30 00:47] WillDaSilva opened #6324 "Handle the firing of CLI exit events automatically"
Context: https://github.com/meltano/meltano/pull/6260#discussion_r903905100

[2022-06-30 01:49] pandemicsyn commented on #6176
Realizing a few weeks after logging this that we should not actually shoe-horn this into the v1 API and wait on the v2 API.

https://github.com/meltano/meltano/blob/main/docs/adr/0005-use-fastapi-to-develop-v2-of-api.md#consequences

(Nearly suggested violating an ADR I logged myself 🤡)

[2022-06-30 01:52] #3443 closed

[2022-06-30 05:14] visch opened #6325 "Code Coverage on Windows doesn't accurately count lines"
https://github.com/meltano/meltano/pull/6208/files

All of the PR comments from code coverage are from sections of the code that are only executed when you're on Windows. This causes the PRs to mistakenly show that the code has less test coverage than actuality

[2022-06-30 10:38] kgpayne opened #6326 "Plugin and Environment `env:` keys are not accessible/configurable via the CLI"
In preparing the docs changes for #6207 I noticed that the `env:` key of an environment is inaccessible via the CLI.

For the top-level `env:` we can use:

[code]

For the plugin level, we can use the 'plugin extra' syntax `_env` to set values (either at root or in an environment):

[code]

However there is currently no way to target an environments' `env:` key via the CLI.

[2022-06-30 15:49] BuzzCutNorman commented on #6240
@visch I have concluded I am not the best at testing upstream PRs locally.  When you get a chance please test the PR for this issue so Cody can get a trustworthy Windows machine result.  Thank you in advance.

[2022-06-30 16:31] edgarrmondragon opened #6330 "Windows coverage is not being added to report"
Codecov reports missing coverage for Windows code branches, most likely due to the following errors:

[code]

[2022-06-30 17:06] aaronsteers commented on #6234
@WillDaSilva - it's a good point but I was thinking we could also modify the type signature on the get method to accept/expect the enum class instead of a string. While it might still "work" by passing a string, we should be able to get mypy to fail CI checks in those cases where a string is passed directly. (And the dev would see a linter warning in their IDE.)

What do you think?

[2022-06-30 17:39] cbarnes-zb opened #6331 "`elt` pipeline is exiting with an error code of `-9` and a blank error message"
I've recently started seeing our pipeline fail with the following output:

`2022-06-30T17:09:39.480320Z [error    ] Extraction failed              code=-9 message=    `

The command I'm running is:
`meltano elt tap-postgres-zenapi target-snowflake-zb --state-id=sync-zenapi`

Here is a concatenated version of my `meltano.yml` that contains the config for the offending tap/target pipeline:

[code]

[2022-06-30 17:39] cbarnes-zb commented on #6331
Full log output from the last failure resulting from the command above:

[code]

[2022-06-30 18:05] #2035 closed

[2022-06-30 18:30] pandemicsyn commented on #6240
fyi - Took some grinding but was actually able to reproduce this race on my Mac as well, so not limited to Windows anything:

[code]

The most consistent way for me was just using one of the http bench mark tools and just hitting a few of the API endpoints as fast as possible.

[2022-06-30 18:45] aaronsteers commented on #6331
From the Meltano side, here's the log entry which I think points to the error:

And specifically, I'm noting that the `message` seems to be not blank per se, but a whitespace- or newline-prefixed line from the SQL statement above: "ORDER BY  "updated_datetime"  ASC with itersize 100000" which seems to align with the full sql string at timestamp '2022-06-30T17:03:42.062783Z'.

This makes me think t

[2022-06-30 18:57] WillDaSilva commented on #6300
@aaronsteers Using the plugin is causing a large but variable number of tests to fail. This issue will now also encompass fixing all of the bugs in the tests where they make unreliable assumptions about the global state.

[2022-06-30 19:17] WillDaSilva commented on #6234
@aaronsteers I think we're locked into accepting strings in `SettingsService.get_with_metadata` and all of the functions that ultimately call it, but maybe we're going about this the wrong way. What we ultimately want here is an assurance that we'll know if a setting name is misspelled. We can alter the first few lines of `SettingsService.get_with_metadata` like so:

[code]

This emits a warning w

[2022-06-30 19:22] aaronsteers commented on #6234
I just checked the codebase. Most of the actual instances of string refs are using `.get(` and I see 34 results for as search for `settings_service.get("` which is the get() method and the start of a quoted string. At least a few others have dicts immediately above declaring a set of string values and then iterating through them in `settings_service.get(`.

We could take a couple different directi

[2022-06-30 19:31] WillDaSilva commented on #6234
I considered this approach, as well as using a keyword argument to force an enum value to be provided, but they suffer from the problem of being easily ignorable. By using the approach I describe in https://github.com/meltano/meltano/issues/6234#issuecomment-1171583989 we can't ignore typos, as they result in warnings/exceptions being raised.

I can still add an enum for the builtin settings, but

[2022-06-30 19:35] aaronsteers commented on #6300
@WillDaSilva - Thanks for the update. And yes, that sounds right. No surprise from my side; totally understood that we will have some revamp to do in order to get our tests in a randomizeable state.

[2022-06-30 19:54] visch opened #6332 "Uvicorn Windows message points to wrong flag"
```2022-06-30T19:52:16.704167Z [warning  ] Add ff.start_uvicorn: True to your meltano.yml to supress this waring```

Should be an easy one!

[2022-06-30 20:07] visch commented on #3212
Yes please would really help with
https://github.com/meltano/meltano/pull/6297#issuecomment-1171617737
https://github.com/meltano/meltano/issues/6298
https://github.com/meltano/meltano/issues/6299
https://github.com/meltano/meltano/issues/6301

And probably many more

[2022-06-30 20:09] visch commented on #6332
Don't worry about it! I'm just filing the issues.

It's amazing Uvicorn is working on Window it's so much better than where we were. This is all behind a feature flag as well so that's good news I think

[2022-06-30 21:26] aaronsteers opened #6334 "Corporate netsec software on Windows may causes 'self signed certificate' verification errors"
Two instances so far reported in slack:

- https://meltano.slack.com/archives/C01TCRBBJD7/p1656621387384619
- https://meltano.slack.com/archives/C01TCRBBJD7/p1656516344303779

[2022-06-30 21:55] pandemicsyn commented on #6041
#6260 didn't cover all the commands, will send up another to cover the (few) remaining

[2022-07-01 03:49] edgarrmondragon commented on #6277
The SDK had this exact issue in the `v0.6.0` release so I went ahead and started a PR with `nox-poetry`, which runs tasks against the _installed_ form of the package using the wheel.

https://github.com/meltano/sdk/pull/780

[2022-07-01 06:05] edgarrmondragon opened #6336 "Typing error when using a list as a default value in `singer_sdk.typing.Property`"
mypy is complaining on taps that use a list as the default value:

[code]

[2022-07-01 14:53] DouweM commented on #6130
This is related to https://github.com/meltano/internal-general/issues/404, where we're discussing bringing everything related to plugin support into the meltano/meltano repo, so that adding or improving plugin support doesn't require touching YAML in meltano/hub, a file bundle in meltano/files-*, and optionally glue code in meltano/meltano. That would also include the glue/support code we're discu

[2022-07-01 16:01] cbarnes-zb commented on #6331
I recreated the error and grabbed the `.log` file. I won't paste the whole thing as the debug log contains PII in json messages from the source tables, but here are the last few lines with the stack trace:

[code]

It seems like the problem is actually with the _target_, which I was not expecting.

[2022-07-01 17:23] BuzzCutNorman commented on #6298
This is the error I get when I just tried this on my Windows machine.  I installed meltano 2.03 in a venv and tried to upgrade to 2.1.0 using the `meltano ui` upgrade button.

[code]

[2022-07-01 17:56] aaronsteers commented on #6095
@pandemicsyn and @tayloramurphy - Per these comments, I'm removing this from our Engineering Assignments board, but with a mention in the description of #6041 that we can opportunistically solve this issue there if feasible.

[2022-07-01 18:26] pandemicsyn commented on #6095
@aaronsteers this actually was one of the bigger pieces that was fixed yesterday as part of https://github.com/meltano/meltano/issues/6041 , so gonna go ahead close.

[2022-07-01 18:26] #6095 closed

[2022-07-01 18:34] #6181 closed

[2022-07-01 19:07] pandemicsyn opened #6342 "Remove bespoke telemetry intstrumentation"
These 10 commands have custom/bespoke telemetry exit events and manually fire `CliEvent.aborted` or `CliEvent.failed`

- src/meltano/cli/add.py
- src/meltano/cli/config.py
- src/meltano/cli/elt.py
- src/meltano/cli/environment.py
- src/meltano/cli/install.py
- src/meltano/cli/invoke.py
- src/meltano/cli/job.py
- src/meltano/cli/lock.py
- src/meltano/cli/run.py
- src/meltano/cli/schedule.py

This s

[2022-07-01 19:10] pandemicsyn commented on #6342
/cc @aaronsteers not urgent, but we'd chatted about this out-of-band so wanted to flag it for you.

[2022-07-01 19:22] aaronsteers commented on #6070
@edgarrmondragon has picked this up as part of `2.2.0` release.

[2022-07-01 19:27] aaronsteers commented on #3175
Closing this. (Won't do.) Prioritizing Gridsome deployment and will iterate from there.

[2022-07-01 19:31] visch commented on #6334
Looks like https://stackoverflow.com/questions/42981429/ssl-failure-on-windows-using-python-requests
Specefically

[code]

Will load your Windows certs automatically for you (from your machine). I'd assume in a corp environment those certs are already on the persons machine. The fact that the default with Python is to use it's own root store is a curious choice but 🤷

[2022-07-01 19:34] aaronsteers commented on #6172
Unassigning, as this should be resolved by:

- #3419
- #6116
- #6247

[2022-07-01 19:38] afolson commented on #3175
@aaronsteers @alexmarple are docs moving to gridsome too? Where is the discussion thread on that?

[2022-07-01 19:47] aaronsteers commented on #3412
@tayloramurphy and @afolson - Since our launch of 2.0, literally no one has yet asked for this as far as I can tell.

I suggest we close as 'won't do' and then think of a more long-term strategy if/when this becomes a bigger issue. (For instance, ReadTheDocs has a good implementation that's fairly automated, but we aren't currently using them for this project.)

[2022-07-01 20:02] aaronsteers commented on #3284
I'm going to deprioritize this (closing as won't do), as `--no-environment` will be come the default for `meltano config` after this one ships:

- #3419

[2022-07-01 20:02] #3284 closed

[2022-07-01 20:11] aaronsteers commented on #3175
@afolson - My mistake. I thought this was re: hub search.

Reopening.

[2022-07-01 20:20] aaronsteers commented on #6150
@cjohnhanson - Is it okay if I assign this to you? It might be a new part of the codebase for you to dive into, but would be a good exercise if so and valuable usability improvement either way. 😄

[2022-07-01 20:37] #6197 closed

[2022-07-01 20:41] DouweM commented on #6150
Related to https://gitlab.com/meltano/meltano/-/issues/2340.

[2022-07-01 21:12] visch commented on #6330
We could use this one instead of #6325

[2022-07-01 21:13] visch commented on #6325
Closed in favor of #6330

[2022-07-01 21:13] #6325 closed

[2022-07-01 21:15] edgarrmondragon commented on #6330
Might be relevant: https://github.com/nedbat/coveragepy/issues/991

[2022-07-01 21:26] BuzzCutNorman commented on #6298
The upgrade completes in the background at least in a new python virtual environment and newly initialized project.  Once the button is pushed and the upgrade is kicked off the UI seems to not detect that the upgrade has completed.

Here are the steps I used to test:
[code]
Here is the console output when I ran these steps:
[buzzcutnorman-meltano-ui-upgrade-20220701.log](https://github.com/meltano

[2022-07-04 06:12] cwegener commented on #6292
Thanks @tayloramurphy
Should I be good to just give it crack and write up a PR with the suggested doc update for the Cached Catalog?

[2022-07-05 14:01] tayloramurphy commented on #6322
Yeah, I'm a fan of not having me be an owner of that! We could add me as an owner on the integration tests though.

[2022-07-05 14:03] tayloramurphy opened #6352 "Assign to Projects job is broken because of scopes"
https://github.com/meltano/meltano/actions/runs/2578720580

[2022-07-05 14:11] tayloramurphy commented on #6095
@pandemicsyn can you cross-link the PR? Catching up from vacation and the context isn't clear here.

[2022-07-05 14:15] tayloramurphy commented on #3412
@aaronsteers I'm ok to close in favor of:

- https://github.com/meltano/meltano/issues/5952

[2022-07-05 14:15] #3412 closed

[2022-07-05 14:16] tayloramurphy commented on #5952
@afolson @aaronsteers what are some paths forward on this? This would be a big benefit both for the community and for our general release process as it would avoid situations where docs are updated prior to features being released and vice versa?

Is this something we could do in July or August?

[2022-07-05 14:19] tayloramurphy commented on #6170
Closing since it seems like it was sorted in https://github.com/meltano/meltano/pull/6309/files

[2022-07-05 14:19] #6170 closed

[2022-07-05 14:20] tayloramurphy commented on #6266
@aaronsteers assigning to Ken for Iteration 7.

[2022-07-05 14:29] tayloramurphy commented on #2846
@jaypeedevlin I don't think we have a place that this could go such that it's generic for other plugins. The main thing I could think of would be a "pre-hook" command that would be automatically run, but I would hesitate to add something more magical behind the scenes with dbt specifically.

The current recommendation now would be to define a task and use that:

[code]

Does this need to be more m

[2022-07-05 14:42] tayloramurphy opened #6353 "Update System Database section of docs with new tables"
@cjohnhanson it looks like https://docs.meltano.com/concepts/project#system-database was not updated as part of https://github.com/meltano/meltano/pull/6323/files

Can you get the PR open to update it to reflect the current state?

[2022-07-05 14:46] tayloramurphy commented on #6292
@cwegener updating the reference would be great and if you feel comfortable adding a sentence or two in https://docs.meltano.com/guide/integration#extractor-catalog-generation would be amazing as well.

[2022-07-05 15:50] aaronsteers commented on #6266
Noted in conversation with @kgpayne - this is an `8` but only if we use exactly the process we have now for squared.

@kgpayne - Can you put some quick bullets inline in a comment about what the process would approximately look like, and any "rough edges" a user would run into?

[2022-07-05 16:16] kgpayne opened #6354 "Remove run 'preview' references"
As of v2.0.0, `meltano run` is no longer a preview feature.  We can therefore remove the remaining references to `meltano run` being in 'preview' from the CLI.

<img width="762" alt="Screenshot 2022-07-05 at 10 49 34" src="https://user-images.githubusercontent.com/5585874/177345173-62a09d70-b72b-49ef-b644-a6d16275394f.png">

[2022-07-05 16:18] #6354 closed

[2022-07-05 16:51] WillDaSilva commented on #6307
We can probably use https://pre-commit.ci/, since we already have linting enabled for all changed files using https://pre-commit.com/

[2022-07-05 16:57] afolson commented on #5952
@tayloramurphy This can be done in Jekyll with some work or we could move this to another tool like Sphinx. The latter might be better long term but is a larger undertaking and I'm not sure it's worth it just for this at the moment.

[2022-07-05 18:40] edgarrmondragon commented on #6307
@WillDaSilva you might wanna take a look at the sdk: https://github.com/meltano/sdk/pull/707

[2022-07-05 19:40] pnadolny13 opened #6359 "`meltano lock` -> variant 'original' is not known to Meltano"
I'm getting the following error when I'm trying to run a `meltano lock --all` on [the squared project](https://github.com/meltano/squared/blob/4d0151cf714d9158617d6d76757d21a29c3a38f7/data/extract/extractors.meltano.yml#L63) (note, I did first manually updated to remove executable and namespace which were defined in my project). When I commented out the `inherit_from` children it works, the plugin

[2022-07-05 20:11] edgarrmondragon commented on #6359
Thanks for logging @pnadolny13!

So the `inherit_from` behavior is a more or less serious bug.

For the other one related to plugins added with the "original" variant pre-2.0, I like your suggestion to improve the error message with instructions and the new default variant names.

[2022-07-05 20:18] pnadolny13 commented on #6359
@edgarrmondragon ok cool, I didnt know if they were going to end up being related but should I spin that one off as a separate issue?

[2022-07-05 20:54] edgarrmondragon commented on #6359
@pnadolny13 yeah, please do. If only just to keep the respective changesets smaller.

[2022-07-05 21:15] pnadolny13 opened #6360 "Meltano lock fails on migrating to >2.0.0 when variant didnt previously exist"
We should update the log message and add a section to the migration docs to help users get variants added for plugins that didnt have a variant previously. For example Airflow locking fails because a variant isnt set for all installations prior to 2.0.0. The error message isnt totally clear in saying this and users will need to manually update their meltano.yml.

Originally discussed in https://gi

[2022-07-05 21:16] pnadolny13 commented on #6359
@edgarrmondragon new issue created for the log message/migration guide entry https://github.com/meltano/meltano/issues/6360.

[2022-07-05 21:29] Vaslo commented on #6334
All, I've come back again to look at this issue.  I decided to try a few environments from the same PC.  I started with the last version of Meltano v1 (1.105.0).  I was able to install this and had no issues loading the taps and targets I needed.  If I install a fresh environment with 2.0 or beyond, I run into the same issue as mentioned above.  Is this because of the change to pull directly from

[2022-07-05 22:11] visch commented on #6334
Discovery file changed locations, maybe a workaround you put in place is broken now? Maybe you could take a look at  lock files which is new https://docs.meltano.com/reference/command-line-interface#lock I believe, then meltano shouldn't need to be able to reach the hub. I am guessing at what the cause is without errors and things but this sounds likely based on the past info!

[2022-07-05 23:33] DouweM commented on #6360
@edgarrmondragon @pnadolny13 Alternatively, could we make the `meltano lock` smarter when there is no explicit `variant` and there is only one defined on the Hub/discovery.yml? We could write `variant: apache` explicitly in `meltano.yml` and generate the lockfile as usual, instead of requiring the user to take the manual step of finding out that the only Airflow variant is `apache`.

[2022-07-05 23:40] DouweM commented on #6359
@pnadolny13 Just to confirm, you're saying that `meltano lock --all` worked with only this:

[code]

But not when this was (re)added:

[code]

I wonder why in that first case with only `tap-github`, we didn't hit the same error as https://github.com/meltano/meltano/issues/6360, which I'd expect any time there's a `name` but no `variant` (and no `namespace` to indicate a custom plugin, or `inherit_

[2022-07-06 00:06] edgarrmondragon commented on #6359
@DouweM The second one is failing because the plugin is inherited, and thus not requiring a variant. In this case, the locking should altogether be skipped according to the lockfile spec, i.e. not adding lockfiles for inherited plugins, only the parent, so that's the bug i.m.o.: `meltano lock` should skip inherited plugins.

[2022-07-06 09:22] lialzm opened #6361 "tap-mysql only INCREMENTAL, LOG_BASED, and FULL TABLE replication methods are supported"
my config

[code]

[2022-07-06 11:24] kgpayne opened #6363 "Provide mechanism for printing/exporting a plugins environment variables"
Similar to `meltano config <plugin name>`, which allows users to "view the plugin's current configuration", it would be helpful when testing and debugging to be able to "view the plugins' current environment".

Currently this information is only accessible to end users via a log line with the `--log-level=debug` option when using run/elt/invoke.

[2022-07-06 11:35] kgpayne opened #6364 "Add integration tests to environment variable resolution features"
As per [this comment](https://github.com/meltano/meltano/pull/6267#discussion_r914120599), it would be good to add integration tests to both demonstrate and validate our env var capabilities.

As per [this response](https://github.com/meltano/meltano/pull/6267#discussion_r914734084), doing so effectively is blocked by:
- https://github.com/meltano/meltano/issues/6326
- https://github.com/meltano/m

[2022-07-06 14:08] pnadolny13 commented on #6360
@DouweM yeah thats true - I dont know all the details of executable/namespace but what I was calling out was that I had some plugins defined that were previously custom but are now available on the hub so when I run a "lock --all" they get skipped. I think because their namespace/executable are present and its currently defined as a custom plugin. We'd want to encourage users to migrate from custo

[2022-07-06 14:23] tayloramurphy commented on #6359
@edgarrmondragon thanks for hopping on this - assigning to you for the current iteration.

Just to be clear, the scope of this is to:

* update `meltano lock` to skip inherited plugins
* update https://docs.meltano.com/concepts/plugins#lock-artifacts to indicate as much

That seem accurate?

[2022-07-06 14:50] pandemicsyn commented on #6218
@tayloramurphy @aaronsteers ok so we've got this framework in place and we're running the basic tests for every PR. I've got a list of other tests cases we might want to start adding. Should I convert this issue to a discussion to use as a central place to collect tests cases (that y'all can then seed our backlog with when time permits), or would you prefer something else?

[2022-07-06 15:03] #6234 closed

[2022-07-06 15:15] DouweM commented on #6360
@pnadolny13 That makes sense, I wasn't thinking about the taps/targets that are now on the Hub but weren't previously. Your recommendation on what to document sounds good.

@tayloramurphy Good point on doing the quickest thing. If we add "set an explicit variant" to the migration guide, we may not need the better log message as people shouldn't see it anymore, but if someone misses that step I thi

[2022-07-06 15:18] edgarrmondragon commented on #6359
@tayloramurphy yup, that is right

[2022-07-06 16:16] WillDaSilva opened #6366 "Pytest warnings about unknown feature flag `strict_env_var_mode`"
Example: https://github.com/meltano/meltano/runs/7217473356

[code]

[2022-07-06 16:44] visch commented on #3316
Some taps don't need valid configuration to run Discovery.  So taps like `tap-bamboohr` doesn't fail during discovery so you get a good error. `tap-oracle` needs a valid config to query the information schema.

Maybe the old database taps don't print the stack trace to stderr? I'm not sure haven't looked

[2022-07-06 17:01] visch opened #6369 "Run Support for select / select_filter"
ELT has support for `--select`

https://docs.meltano.com/reference/command-line-interface#elt

Right now I use `select_filter` here https://docs.meltano.com/concepts/plugins#select-filter-extra , and I"m calling `meltano invoke` directly instead of `meltano run`

Maybe `meltano run` respects `select_filter` (via environments) and I"m good to go here? I haven't tried this yet but I assumed it would

[2022-07-06 17:20] pandemicsyn opened #6370 "Add ability to provide custom `--state-id-suffix` to `meltano run`"
One thing that was cut late in development when adding incremental job support to `meltano run` was the ability to add a custom prefix to the auto generated job (now `state`) names: https://gitlab.com/meltano/meltano/-/merge_requests/2544#note_855957749

Now that the `job` -> `state` transition work has basically wrapped up we could revisit adding this.

@tayloramurphy fwiw this is a pretty easy-p

[2022-07-06 17:53] tayloramurphy commented on #6360
@DouweM makes sense to me. Log messages are kind of bucketed under documentation in my head a bit too.

Scope of the issue:

* Update 2.0 migration guide with instructions on adding the variant
* Update error message to make it clearer what's happening

[2022-07-06 17:57] #6136 closed

[2022-07-06 17:58] tayloramurphy commented on #6218
@pandemicsyn either converting this or closing it and making a new discussion. I don't have a preference 👍

[2022-07-06 18:02] #6324 closed

[2022-07-06 18:02] #6041 closed

[2022-07-06 18:09] aaronsteers commented on #6150
@tayloramurphy, @pandemicsyn, @cjohnhanson, @visch  - This came up in office hours today related to other commands which might not be printing `stderr` for failed discovery operations.

@cjohnhanson - When you are back and ready to pick this up, you see about tackling discovery as part of all three of these code paths?:

- [ ] `meltano select`
- [ ] `meltano invoke`
- [ ] `meltano run`
- [x] `melt

[2022-07-06 18:15] tayloramurphy opened #6371 "docs: Make it clear that default environments are for execution not for configuration"
https://docs.meltano.com/concepts/environments#default-environments Based on the changes we're making in #6327 we should update the Environments documentation to call out why this is the case.

[2022-07-06 18:37] ReubenFrankel commented on #6370
+1 on this. At the moment, we are creating a temporary environment per (our concept of a) pipeline as a workaround.

[code]

[2022-07-06 18:44] WillDaSilva opened #6372 "Automatically fire CLI inflight telemetry events"
We currently have some of our CLI comments implemented by `async` functions. We could implement them all as `async` functions, and then run them in a wrapper that yields from them, but also fires an inflight telemetry event automatically each time the CLI function yields? This further takes the burden of implementing telemetry away from the dev who is adding/updating a CLI command.

If we're worri

[2022-07-06 18:57] abhii-singh opened #6373 "Meltano installation within docker container running airflow"
I wanted to check if this has been tried before and if not what approach the community would suggest:

I have airflow running as docker containers and wanted to install meltano inside these containers so that most of my taps and targets would be available.

Any ideas around this ?

[2022-07-06 18:58] #6359 closed

[2022-07-06 19:02] pandemicsyn commented on #6218
👍 closing in favor of:

- https://github.com/meltano/meltano/discussions/6374

[2022-07-06 19:02] #6218 closed

[2022-07-06 22:09] tayloramurphy commented on #5921
Closed via https://github.com/meltano/meltano/pull/5920

[2022-07-06 22:09] #5921 closed

[2022-07-06 23:30] DouweM commented on #6209
@nickhamlin For each of the following scenarios, can you please share: 1. (the airflow parts of) `meltano.yml` (especially `pip_url` and `config`), 2. any environment variables you're setting, 3. the result of `meltano invoke --dump=config airflow` (with creds edited out), and 4. the exact error message when you run `meltano invoke airflow webserver`?

1. Airflow 2.1.x with `AIRFLOW__CORE__SQL_ALC

[2022-07-07 00:28] nickhamlin commented on #6209
Hi @DouweM , I'm happy to take a crack at that:

1.  This is the bottom of meltano.yml, which I think is all that's relevant here. This is the same for all 3 scenarios with the exception of the `pip_url`, which I've been editing then rebuilding the container to change airflow versions.
[code]

2. Here's the relevant section of `docker_compose` that sets Airflow environment variables. This is also

[2022-07-07 00:46] nickhamlin commented on #6209
Well, it does look like the Airflow environment variables have the right values. When I run a command with `meltano --log-level=debug...` such that it spits out the values of all my env vars, I can spot the correct values showing up in the long list it comes back with:

[code]

[2022-07-07 01:09] nickhamlin commented on #6209
Here's the full error message for Option 3: Airflow 2.3.x withAIRFLOW__DATABASE__SQL_ALCHEMY_CONN

[code]

And here's Option 1: Airflow 2.1.x with AIRFLOW__CORE__SQL_ALCHEMY_CONN

[code]

[2022-07-07 02:41] nickhamlin commented on #6209
Making some progress that seems worth documenting. Sticking with Airflow 2.3.2, following the stack trace in the Option 3 error message above led me [here](https://github.com/apache/airflow/blob/01a5d8fe93a48883f4ae0d6ab65eeb82a30a09b9/airflow/configuration.py#L372), which gave me the idea to try updating the prefix of my connection string from `postgres` to `postgresql`, like this (new snippet fr

[2022-07-07 11:41] halilduygulu opened #6377 "Is there a way run meltano tap+targets with multiple cpu cores?"
Hi, I am running meltano to copy data from tap-postgres (wise) to target-redshift (also wise) and things are fine but it is slow for big tables.
While watching the processes that are running via meltano, I see target-redshift is most of the time at %100 of a single cpu core, also when data is being fetched from postgres, tap is also at %100 of a single core.

I have tested with a better cpu to und

[2022-07-07 12:57] edgarrmondragon commented on #3322
I think this might actually be two different bugs. I have pinned down the problem with `environments` in https://github.com/meltano/meltano/pull/6376, so I'm happy to fix the environment bit there and continue investigating the inheritance problem separately.

@tayloramurphy

[2022-07-07 13:11] edgarrmondragon opened #6378 ""Did you mean ...?" fuzzy matching for all CLI commands that accept plugin names"
One common error when using Meltano and its CLI is mistyping plugins names. For example.

[code]

One nice way to reduce user frustration when encountering this (it's hard to catch sometimes) would be an output like:

[code]

[2022-07-07 17:57] #6366 closed

[2022-07-07 18:03] edgarrmondragon opened #6380 "`metadata` and other extras of kind `object` not honored when using inheritance"
Consider the following inheritance scheme:

[code]

The expectation is that `tap-postgres--inherited` uses its own metadata object to patch the Singer catalog, and the output of `meltano config` would suggest that everything is working as expected:

[code]

However, invoking `tap-postgres--inherited` fails as its own metadata is being ignored:

[code]

Removing the `metadata` section from the _par

[2022-07-07 19:12] tayloramurphy commented on #6380
@edgarrmondragon thanks for opening the issue, since this is related to https://github.com/meltano/meltano/issues/3322 and still urgent I'm assigning to you and putting the urgency high label on it.

[2022-07-07 20:06] nickhamlin commented on #6209
Thanks everyone! Circling back with a final recap from my end now that the dust has started to settle in hopes of leaving some clues for future searchers who might encounter the same issue.

We've got prod up and running again by following a version of @SBurwash 's recommendation and quickly migrating to Airflow 2.3.2. This process requires starting from a blank underlying airflow DB since migrati

[2022-07-07 20:11] tayloramurphy commented on #6209
@nickhamlin thanks for the write-up! We do call out the new user creation in https://hub.meltano.com/orchestrators/airflow#next-steps and we have a command specified for it in the form of `meltano invoke airflow:create-admin` which basically [does what you say](https://github.com/meltano/hub/blob/main/_data/meltano/orchestrators/airflow/apache.yml#L15). Agreed though that the migration story isn't

[2022-07-07 20:16] tayloramurphy commented on #3445
A user reported [in Slack ](https://meltano.slack.com/archives/C01UTUSP34M/p1657224902334089?thread_ts=1657220037.013119&cid=C01UTUSP34M) that it may be useful to have a more verbose Table of Contents. When you're on https://docs.meltano.com/concepts/plugins#how-to-use-12 for example, it's not clear that you're in the Mapper section or that there's even a Mapper section in the TOC.

[2022-07-08 01:24] visch opened #6382 "Mappers - Null config values don't get passed"
Trying to replicate the behavior here

https://sdk.meltano.com/en/latest/stream_maps.html
[code]

So if you have a meltano.yml like

[code]

And then run `meltano invoke --dump=config tap-name` the else token will not exist.

It's not clear that this is a bug as I did some digging here and as a part of https://gitlab.com/meltano/meltano/-/issues/2334 it looks like passing null values was removed a

[2022-07-08 03:59] visch opened #6383 "add test for creating .meltano folder on ephemeral deployments on Windows"
Have a project that doesn't have a .meltano directory due to it being a ephemeral deployment (ie files from the repo are copied every run)

To repeat
1. Create a folder with only a valid meltano.yml
2. Run `meltano install`
3. See "DB Connection Failed" Error during install due to systemdb not being available
4. Note that to replicate this you cannot have a `.meltano` directory already created. If

[2022-07-08 05:24] BuzzCutNorman commented on #6383
@visch is this the issue you were thinking of?  [gitlab issue 3390: meltano init not creating DB](https://gitlab.com/meltano/meltano/-/issues/3390)

[2022-07-08 05:31] BuzzCutNorman commented on #6383
@visch maybe it is this one that was related.  It seems to match this issues description closer.  [gitlab issue 3328: Create .meltano directory when running `meltano install`](https://gitlab.com/meltano/meltano/-/issues/3328)

[2022-07-08 11:16] halilduygulu opened #6384 "target-redshift process prevents deleted files to be removed from disk"
Hi, when using target-redshift (wise) with meltano, I noticed disk usage on k8s node is increasing all the time even though /tmp folder and other places including / (root) folder is not growing in size.

After checking with `lsof` tool, you can see deleted files are kept open(or something else) by target-redshift process so they are not actually removed from disk, so I ran out of 100gb disk space

[2022-07-08 11:21] halilduygulu commented on #6373
I am running meltano in docker(k8s) which is triggered via airflow KubernetesPodOperator. I did not want to have 2 airflows, one in meltano, so I manage meltano schedules with my primary airflow.

[2022-07-08 12:26] visch commented on #6383
@BuzzCutNorman  yes you're right that's it!

I upgrade Meltano from `2.1.0` to `2.2.0` and now I don't see this :hmm: I"ll have to play a bit as maybe it's something else going on?

[2022-07-08 14:13] tayloramurphy commented on #6384
@halilduygulu that sounds like it might be specific to target-redshift. @pandemicsyn anything else we can ask for on our end to suss out whether it's a Meltano or plugin problem?

[2022-07-08 14:15] tayloramurphy commented on #6383
@visch I've updated the title - want to take it and add it to your list?

[2022-07-08 15:30] rabidaudio opened #6386 "Allow env vars to be set for jobs"
See discussion in slack: https://meltano.slack.com/archives/C01TCRBBJD7/p1657233220239139

Consider example:

[code]

`meltano run gitlab` will run all the dbt commands for the whole project rather than allowing me to specify only the specific models that have changed (e.g. `DBT_MODELS=+gitlab+`).

I realize this can be solved by schedules:

[code]

However it seems to me that this information bel

[2022-07-08 15:31] visch commented on #6383
@tayloramurphy  yes sir!

[2022-07-08 15:52] tayloramurphy opened #6387 "feat: add support for `env` key for `schedules`"
Related to:

* https://github.com/meltano/meltano/issues/6386

[code]

Precedence discussion in https://github.com/meltano/meltano/issues/6386#issuecomment-1179138398

[2022-07-08 17:42] pandemicsyn commented on #6384
I thinks that's pretty firmly a plugin issue. The file is already marked deleted but the inodes still present because the process is still active and has an open file-descriptor for the file.

Not really familiar with target-redshift but took a super quick glance (so fair warning this is more a guess), but at least at a glance, it looks like they never close (or save) the file-descriptor returned

[2022-07-08 17:55] pandemicsyn commented on #6384
target-redshift does call `os.remove` later but that would still keep the deleted file around until the process actually exited AND I think also means that you'd need the same amount of local disk space for temp storage as you're actually pushing to s3.

[2022-07-08 19:34] tayloramurphy opened #6389 "Bug: several empty keys are added when the last top-level key is removed via the CLI"
IN https://github.com/meltano/meltano/pull/6308 I found that if you have an additional meltano.yml file like so:

[code]

If you remove that schedule via the CLI that file will look like:

[code]

This isn't ideal because the diff can be confusing. Functionally it's fine, but I'd expect either the final file to either be `schedules: []` or just blank.

[2022-07-08 19:47] DouweM commented on #6389
@tayloramurphy Isn't the current behavior for the keys to not be there at all if their list/dict is empty?

[2022-07-08 19:53] tayloramurphy opened #6390 "feat: when using config, validate settings prior to writing in file"
When testing https://github.com/meltano/meltano/pull/6327 I realized that users could easily mispell a setting and there would be no warning to the user that they've done something wrong.

[code]

`send_anonymous_stats` is not actually a setting known to Meltano!

Similarly for tap-github:

[code]

The problem here is that users aren't being alerted that they're configuring a non-existent setting.

[2022-07-08 20:16] tayloramurphy commented on #6389
@DouweM I've updated the title to clarify, but yes, it's in the included meltano.yml files. AFAICT the main meltano.yml does fully remove the key.

[2022-07-08 20:30] WillDaSilva opened #6392 "Remove GitLab CI"
Most of the functionality from GitLab CI has been migrated to GitHub CI. Once is has all been migrated, we should be able to simply delete the `.gitlab` directory.

Blockers:
- https://github.com/meltano/meltano/issues/6062
- https://github.com/meltano/meltano/issues/6393
- https://github.com/meltano/meltano/issues/6307 (closed by https://github.com/meltano/meltano/pull/6381)

[2022-07-08 20:43] WillDaSilva opened #6393 "Enable dependency license scanning in CI"
This issue tracks the migration of the functionality provided by the GitLab CI job `license_scanning`

[2022-07-08 21:15] tayloramurphy opened #6394 "feat: reconsider UX on command line output"
Currently alert the user on the command line about the active environment via:

`2022-07-08T19:48:50.200082Z [info     ] Environment 'dev' is active`

I believe this outputs every time the CLI is invoked. In https://github.com/meltano/meltano/pull/6327 we've changed the default behavior for `meltano config` to default to `--no-environment` which means the user sees:

[code]

This is fairly confusi

[2022-07-08 21:20] tayloramurphy commented on #6352
Fixed - MeltyBot needed the `projects` scope.

[2022-07-08 21:20] #6352 closed

[2022-07-08 22:09] tayloramurphy commented on #6371
This is related to:

* https://github.com/meltano/meltano/issues/6394

[2022-07-09 01:05] rabidaudio commented on #6387
This functionality already exists, we've been using it for a long time

[2022-07-09 01:11] rabidaudio commented on #6386
By `a < b` I meant b has higher precedence than a but I can see how that was ambiguous. Yes, I agree that schedules should have higher precedence than jobs.

I'm a little surprised that system env vars are overwritten by environments (for example, I might do `FOO=override meltano run`), but I don't think it's a problem and I'm sure y'all have considered it more than I have

[2022-07-10 22:54] edgarrmondragon commented on #6070
Closed by:

- https://github.com/meltano/meltano/pull/6338
- https://github.com/meltano/meltano/pull/6145
- https://github.com/meltano/meltano/pull/6346
- https://github.com/meltano/meltano/pull/6348

[2022-07-10 22:54] #6070 closed

[2022-07-11 11:50] visch commented on #6160
This needs some more testing, I setup a project as a user account on windows and didn't hit this error over the weekend didn't dive into why though.

[2022-07-11 14:54] tayloramurphy commented on #6387
@rabidaudio looks like we haven't documented it at all in the Meltano docs, and I'm also guessing this is missing from some tests. I'll update the issue.

[2022-07-11 16:51] cbarnes-zb commented on #6331
@aaronsteers I was finally able to track this down last week, or at least what I think is the root cause. We moved state management from the system db to a postgres instance recently as part of ongoing infrastructure changes and updates and I think that somewhere along the way, as careful as we were, the state became corrupted. The payload field contained escaped quotes in a few places. I'm not su

[2022-07-11 16:58] #3322 closed

[2022-07-11 19:29] edgarrmondragon commented on #6389
@DouweM @tayloramurphy what would happen if the file is left without any keys? E.g. it only had `schedules` but the latest command removed the only schedule?

Does it make sense to just put an empty object (`{}`) in there?

[2022-07-11 20:04] tayloramurphy opened #6397 "feat: Refactor Superset integration as an external Python plugin"
_This is a specific implementation issue for https://github.com/meltano/meltano/issues/6130_

### Problem to Solve

When adding Superset as part of the 2.0 launch, we had to touch code in multiple places:

* Meltano https://github.com/meltano/meltano/pull/6031/files
* A new repo for files https://github.com/meltano/files-superset
  * (To be clear, this isn't actually used in the current implementa

[2022-07-11 20:06] tayloramurphy commented on #3455
I've made https://github.com/meltano/meltano/issues/6397 to focus on the Plugin Architecture with Superset as the first test case. I'm going to push this to August as deepening the integratoin needs to be sequenced after the refactor.

[2022-07-11 20:15] DouweM commented on #6397
@tayloramurphy What do you think about making this about Superset _and_ Airflow, so that we don't code things too specific to what Superset needs, and forget about more complicated plugins?

[2022-07-11 20:19] DouweM commented on #6389
@edgarrmondragon Could we leave the file empty? If some YAML parsing logic breaks on that, we could add special behavior to make empty files work.

`{}` in a YAML file is correct since it's a superset of JSON, but would look unexpected and would need to be removed before manually adding new keys.

[2022-07-11 20:20] tayloramurphy opened #6398 "feat: Refactor Airflow integration as an external Python plugin"
_This is a specific implementation issue for https://github.com/meltano/meltano/issues/6130 and is related to https://github.com/meltano/meltano/issues/6397_

### Problem to Solve

Much of the problems documented in #6397 are applicable to Airflow. Files and functionality related to Airflow are spread out across multiple repos:

* Meltano https://github.com/meltano/meltano/blob/main/src/meltano/co

[2022-07-11 20:38] edgarrmondragon commented on #6389
a@DouweM sounds alright!

It wouldn't need to be removed afaict since the included file is just a dict, so it would just be an empty one. Though, it'd certainly look strange.

[2022-07-12 00:22] rabidaudio opened #6401 "Allow reselecting unselected streams/properties"
[code]

I would expect the following to exclude all `stream.metadata_*` except `stream.metadata_parameter_i_do_want`. However it seems `metadata_parameter_i_do_want` is still excluded.

Specifically I'd expect the `select` field to be in reverse-precedence order.

[2022-07-12 14:51] WillDaSilva commented on #6393
As per https://github.com/meltano/meltano/pull/6403#issuecomment-1181281741, we should begin building up a list of permitted licenses (identified by their [SPDX ID](https://spdx.org/licenses/)). @DouweM @tayloramurphy do either of you have any recommendations for what we should accept from our (direct and transitive) dependencies? A simple start would be:

- 0BSD
- BSD-1-Clause
- MIT
- MIT-0
- Apa

[2022-07-12 14:51] tayloramurphy commented on #6389
@edgarrmondragon I agree with @DouweM - My preference would be an empty file as the diff is nicer.

[code]

is a more obvious diff than

[code]

Not that it renders in this comment as I'd like, but you get the idea. If there are challenges with an empty included meltano.yml file we should solve those.

[2022-07-12 15:01] tayloramurphy commented on #6393
@WillDaSilva https://gitlab.com/meltano/meltano/-/issues/3206 has some additional context when we looked at this previously. I've used https://about.gitlab.com/handbook/engineering/open-source/#acceptable-licenses as prior art and a pretty good starting point for us.

[2022-07-12 15:03] #6331 closed

[2022-07-12 16:20] edgarrmondragon opened #6405 "bug: Document Meltano 2.2.0 requires SQLite >= 3.25.1"
As kindly reported by @pdebelak in https://github.com/meltano/meltano/pull/6323#issuecomment-1181955922, the `ALTER TABLE table RENAME COLUMN oldname TO newname` syntax was introduced to SQLite only in version [`3.25.1`](https://sqlite.org/releaselog/3_25_1.html), and so systems with a default version older than that may fail to run the migration and use Meltano.

[2022-07-12 16:29] kgpayne commented on #6393
Related to https://github.com/meltano/gitops/issues/12

[2022-07-12 16:40] pdebelak opened #6406 "bug: `meltano install` exits success even if migrations fail"
I would expect `meltano install` to fail and exit with a non-zero exit code if the migrations fail. Instead, it proceeds to install plugins.

To reproduce:

[code]

[2022-07-12 17:23] pdebelak commented on #6406
This problem made it hard to realize that I was running into the problem from  #6405 since running `meltano install`  succeeded in our docker build but didn't actually successfully set up the database.

[2022-07-12 18:27] cjohnhanson commented on #6387
@tayloramurphy - at a glance, it looks like this is supported in [Schedule](https://github.com/meltano/meltano/blob/33ea40987bdaeffc8b9ab2b48fc0e6efc4984ecf/src/meltano/core/schedule.py#L32) object and  [ScheduleService](https://github.com/meltano/meltano/blob/33ea40987bdaeffc8b9ab2b48fc0e6efc4984ecf/src/meltano/core/schedule_service.py#L300). But it is not included in the `meltano.yml` jsonschema

[2022-07-12 19:07] tayloramurphy commented on #6387
@cjohnhanson that's helpful context, thanks. What do you think about making the scope of this issue:

* Updating the JSON Schema and docs to clarify `env` is supported
* Adding tests similar to what we did with the other levels of `env` support that may fail and then opening a separate issue to actually make the fix

Unless it's just easier to fix the behavior like what we're talking about in #638

[2022-07-12 20:44] cjohnhanson commented on #6387
@tayloramurphy I think it's reasonable to include fixing the behavior in the scope of this issue. With adding testing for other levels of `env` support we were starting from scratch, whereas here it's more a matter of adding test cases than writing an entire new test suite from the ground up.

[2022-07-12 20:46] cjohnhanson commented on #6188
FYI @tayloramurphy I've got a little extra capacity this week so I'll plan on picking this up unless there's another more urgent unassigned issue that I can tackle in this iteration.

[2022-07-12 20:56] tayloramurphy opened #6408 "feat: support container-based plugins"
### Problem to Solve

There is a whole world of plugins outside of the Python ecosystem that would benefit from having Meltano act as their foundation. Specific examples include:

* https://www.bytebase.com/ (written in Go)
* https://metriql.com/ (written in Kotlin)
* https://github.com/evidence-dev/evidence (written in Svelte)
* [DuckDB](https://github.com/duckdb/duckdb) (all sorts of languages g

[2022-07-12 21:26] edgarrmondragon commented on #6283
@tayloramurphy I think now that https://github.com/meltano/meltano/pull/6404 is ready for review, I have some some capacity to document this feature.

[2022-07-12 22:10] tayloramurphy commented on #6188
@cjohnhanson perfect thanks for the ping. Anything that's in the iteration but not assigned should be ready to be picked up by anyone!

[2022-07-13 03:12] #2842 closed

[2022-07-13 10:45] #2133 closed

[2022-07-13 10:53] kgpayne commented on #6116
@tayloramurphy and @aaronsteers its worth noting that as a consequence of this change, we will end up duplicating config in certain cases. e.g.

[code]

I don't think this will affect many users (you have to know to override `--store` in the first place, which implies some understanding of our store hierarchy), but thought it worth calling out. This is the reason why I advocated for:

[2022-07-13 14:37] DouweM opened #6412 "docs: Build example Meltano project using `meltano-map-transform` with examples for common uses"
<details>
<summary>Original description</summary>

The README for https://github.com/MeltanoLabs/meltano-map-transform lacks usage instructions, https://docs.meltano.com/concepts/plugins#mappers has an example of `pipelinewise-transform-field` but not `meltano-map-transform`, and I happen to know that some of the docs on https://sdk.meltano.com/en/latest/stream_maps.html apply to `meltano-map-tran

[2022-07-13 14:40] DouweM commented on #6412
@tayloramurphy I think this is more important to prioritize than https://github.com/meltano/sdk/issues/801, as users can already get a long way with our existing mapper, without needing to write a custom one.

[2022-07-13 17:14] #6307 closed

[2022-07-13 19:40] tayloramurphy commented on #6412
We have https://github.com/meltano/hub/issues/589 which tracks that.

I think that makes sense. Having a short interstitial on the integration guide is good just to get people thinking about it, but then the transformation page can be structured to have "in-flight" and "in-warehouse" transformations.

I think it makes sense to prioritize as well @DouweM

[2022-07-13 19:51] tayloramurphy commented on #6116
@kgpayne I think that's ok but I am in favor of your point 3. I assume that's not part of your current PR, correct? If not, will you make a separate issue for that because I would agree that it would make sense to show. Are you thinking something like this:

[code]

Or something like that?

[2022-07-13 20:32] #3217 closed

[2022-07-13 21:25] tayloramurphy commented on #5981
The plugin approach discussed in https://github.com/meltano/meltano/discussions/6270#discussion-4166066 I think does make sense to explore more. Particularly in light of efforts with #6130

[2022-07-13 22:27] #3419 closed

[2022-07-14 01:16] visch commented on #6160
pytest requires administrator, but generally everything works on Windows without Administrator. At least these commands

- meltano init
- meltano run
- meltano add
- meltano state (seemed to work didn't have state to copy around)
- meltano invoke

Pretty much every test fails when running `poetry run pytest` as a user instead of Administrator

Looks like it's due to the `project` fixture, we could

[2022-07-14 01:55] visch opened #6421 "chore: Remove GitLab links in Meltano codebase"
There are old gitlab links in Meltano https://github.com/meltano/meltano/search?p=2&q=gitlab.com

Thought about this when fixing https://github.com/meltano/meltano/pull/6420

[2022-07-14 02:04] visch commented on #3289
This should be closed from #5967

[2022-07-14 15:30] rickiesmooth commented on #5981
I'm running Meltano in a container aswell, but I'm having a hard time figuring out what the best way is to _upload that file to S3 before the container is deleted_. There's no on-run-end hook in Meltano right?

[2022-07-14 16:09] kgpayne opened #6422 "feat: Add visibility of setting values across all stores to the CLI config list command"
Per [this comment](https://github.com/meltano/meltano/issues/6116#issuecomment-1183072741), one of the side-effects of #6116 is that we may in certain circumstances duplicate configuration where previously we would have updated/overwritten values:

[code]

To make it easier to debug these cases, we could add additional visibility of setting values to the existing `meltano config <plugin> list` com

[2022-07-14 16:17] kgpayne commented on #6116
@tayloramurphy

Correct 🙂 Created

- #6422

Yep, I think that looks perfect. I also think it would be useful to show all the values in all the stores for an individual setting (including all environments etc.), especially for projects that have gone for the one-environment-per-subfile approach like Squared. But maybe that is a new detailed view with its own command path:

[code]

A separate comman

[2022-07-14 19:14] edgarrmondragon commented on #6353
Related:

- https://github.com/meltano/meltano/issues/6405

[2022-07-14 19:42] tayloramurphy commented on #3289
Closed via https://github.com/meltano/meltano/pull/5967

[2022-07-14 19:42] #3289 closed

[2022-07-14 20:30] tayloramurphy commented on #5981
@rickiesmooth which file are asking about? There's a few ways I could imagine doing this but there's currently no `on-run-end` hook exactly like there is in dbt.

[2022-07-14 21:08] #6283 closed

[2022-07-14 21:29] visch opened #6426 "Code Coverage reports should report tests as having coverage"
- I only updated the tests in https://github.com/meltano/meltano/pull/6407#issuecomment-1184910358 , test coverage being impacted on files outside of the `tests/` folder makes sense, but me impacting `tests/*` doesn't make any sense to me.

Code Coverage probably shouldn't look at the `tests` directory? But it's almost like all other files should be checked for their total coverage as I could botc

[2022-07-15 03:11] WillDaSilva commented on #6426
For what it's worth, I recently found & removed some dead code from the tests because it was reported as uncovered. Using coverage stats to help ensure that we run all of the test code that we've got may be beneficial.

[2022-07-15 03:14] WillDaSilva opened #6427 "GitHub org secret with value `meltano` causes the word `meltano` to be hidden from CI logs"
Our username on Docker Hub is `meltano`. We provide it to some GitHub actions as a secret. Because we have a secret with the value `meltano`, the text `meltano` is replaced with `***` in all of our GitHub CI logs. This breaks some links, and is generally annoying. We should hard-code the username `meltano` to avoid having it as an org secret.

[2022-07-15 07:41] rickiesmooth commented on #5981
Sorry I was referencing the workaround and how it uploads the state file.

[2022-07-15 10:27] #6380 closed

[2022-07-15 13:46] rickiesmooth commented on #5981
ah that would be nice, for now I just do:
[code]
after meltano ran

[2022-07-15 13:47] visch commented on #6426
Extra information seems ok (maybe as it can overwelm me but I understand folks who are in the code base all the time wanting it, as I am at the moment), but the failure here https://github.com/meltano/meltano/pull/6407/checks?check_run_id=7325652363 doesn't to me

[2022-07-15 13:53] pnadolny13 opened #6428 "Debug and iteration UX for mappers"
I was recently using mapper utilities for the first time in [the Squared configs](https://github.com/meltano/squared/blob/main/data/extract/mappers.meltano.yml) as part of adding [tap-spreadsheets-anywhere](https://github.com/meltano/squared/blob/main/data/extract/extractors.meltano.yml#L3)  and had to do some debugging before I got it working like I wanted, thats totally expected. I needed to ite

[2022-07-15 14:27] #6427 closed

[2022-07-15 14:30] WillDaSilva commented on #6427
The `DOCKERHUB_USERNAME` secret has been removed.

[2022-07-15 17:16] tayloramurphy commented on #6428
Duplicate of https://github.com/meltano/meltano/issues/3232

[2022-07-15 17:16] #6428 closed

[2022-07-15 17:47] tayloramurphy commented on #5981
@rickiesmooth that's good to know! I think we will be building this into Meltano natively though as it's going to be a pre-req for our future Managed offering.

[2022-07-15 20:39] tayloramurphy commented on #6242
@everettttt I'm closing this, but feel free to re-open if you're still having the problem!

[2022-07-15 20:39] #6242 closed

[2022-07-15 21:24] tayloramurphy opened #6434 "feat: refactor dbt integration as an external Python plugin"
This is a specific implementation issue for https://github.com/meltano/meltano/issues/6130 and is related to https://github.com/meltano/meltano/issues/6397 & #6398

### Problem to Solve

Much of the problems documented in #6397 #6398 are applicable to dbt. Files and functionality related to dbt are spread out across multiple repos:

* Meltano https://github.com/meltano/meltano/tree/main/src/meltan

[2022-07-15 21:38] cjohnhanson commented on #6188
@tayloramurphy following up here on [this comment in the PR](https://github.com/meltano/meltano/pull/6431#pullrequestreview-1040814529) since I think it potentially changes scope here.

As-is the PR allows plugin commands to be invoked as a block in `meltano run` without needing to provide a command. In the case where no command is provided, the bare CLI command is run. So if you were to run `melt

[2022-07-15 21:42] tayloramurphy commented on #6266
Pushing to Iteration 11 since this won't be done before Ken's PTO.

[2022-07-15 21:47] #5912 closed

[2022-07-15 21:57] tayloramurphy commented on #5912
Duplicate of https://github.com/meltano/meltano/issues/5940

[2022-07-16 01:31] WillDaSilva opened #6435 "`flake8` rules for `__init__.py` cause those for `tests/*` to be ignored for files matching `tests/**/__init__.py`"
This leads to failures such as https://github.com/meltano/meltano/runs/7365662302

[2022-07-17 17:25] visch opened #6437 "Integration test failure"
Didn't see an issue in for this yet?

https://github.com/meltano/meltano/runs/7367356450?check_suite_focus=true

Seems to be failing on every test run (dependency issue)

[code]

[2022-07-18 12:39] emilylucie commented on #5988
@afolson closing since you seem to have made an MR for this

[2022-07-18 13:35] visch opened #6439 "Migrate integration tests to use Pytest"
From #6438

We had an error, action here https://github.com/meltano/meltano/runs/7367356450?check_suite_focus=true

It was easy to tell what was wrong in the `meltano.yml` , but not so easy to replicate this fix locally

To do so you have to run these steps

1. You have to run  poetry run bash integration/validate.sh meltano-run from the root of meltano
1. container must be running `podman run -e

[2022-07-18 13:53] #6437 closed

[2022-07-18 13:56] tayloramurphy commented on #6188
@cjohnhanson I don't think we want that. That assumes too much for the user. dbt isn't a great example for why not having a command is valuable, but imagine if there's just a bare python script or even a docker container that just needs to be invoked w/o any commands. For all of the dbt plugins we've already specified the [dbt:run command](https://hub.meltano.com/transformers/dbt-postgres#command-

[2022-07-18 15:04] #6435 closed

[2022-07-18 15:11] cjohnhanson commented on #6188
@tayloramurphy thanks for the clarification -- I was worried I had misunderstood the scope here but it sounds like we're on the same page.

The existing PR behaves as you described (no default command or "aliasing" of bare commands to some subcommand). Any thoughts on a good example of a plugin without a command to include in the docs? If not, I'll use the example of a bare python script.

[2022-07-18 15:59] pandemicsyn opened #6440 "Document CLI design guidelines"
Similar to https://docs.meltano.com/contribute/api#api-v2-design-guidelines we should have clearly defined guidelines for creating/updating the meltano `cli`.  How to structure, organize, and even name new CLI additions is a **frequent** source of contention and a stumbling block during iterations and builds.

I think it's worth calling out that it's OK that our CLI's inconsistent right now, and n

[2022-07-18 16:53] aaronsteers commented on #6440
@pandemicsyn - I'm in strong favor of this as a high pri item. We've lost a bunch of cycles from _not_ having this and I think we should try to get to this asap.

[2022-07-18 17:17] #6369 closed

[2022-07-18 17:17] pandemicsyn commented on #6398
@aaronsteers @tayloramurphy given:

And comments like https://github.com/meltano/meltano/issues/6397#issuecomment-1180828662 in the Superset issue>

Along with the fact that switching Airflow, dbt, and Superset are all ondeck back to back. I'm a little surprised that flushing out our plugin framework (ala https://github.com/meltano/meltano/issues/6130) and working within that context isn't more im

[2022-07-18 17:29] pandemicsyn commented on #6440
Quick edit to follow up on that, i'd probably use `schedule` and `jobs` since I'd hope those additions (and refactor in the case of `schedule`) would be good jump of points , at least for the general structure/layout - since we did those relatively recently.

[2022-07-18 17:51] pandemicsyn commented on #6398
@tayloramurphy fwiw, I think you nailed it for the product side and its mostly up to us (Engineering) to define the architecture and framework we need to enable this feature type.

[2022-07-18 18:16] #6322 closed

[2022-07-18 19:21] visch commented on #6426
Thank you!

[2022-07-18 19:21] #6426 closed

[2022-07-18 20:52] aaronsteers commented on #6389
Just to distinguish these:

1. Removing a schedule (or other top-level element like plugins or environments), it should be okay to leave an empty list of items.
2. Removing one top-level element should not add other top-level elements arbitrarily. In the example above, the larger problem is that `environments`, `jobs`, and `plugins` are all added to the file when previously they were not in the fi

[2022-07-18 20:53] aaronsteers commented on #6389
Since this doesn't impact any real-world use cases I can think of, I think low-pri is probably appropriate for now.

[2022-07-18 20:55] edgarrmondragon commented on #6389
@aaronsteers this only happens in included files when all top-level shared keys (`environments`, `schedules`, `jobs`, `plugins`) are left empty after an operation.

[2022-07-19 00:03] #6188 closed

[2022-07-19 01:36] WillDaSilva opened #6446 "Add issue templates"
Same as https://github.com/meltano/sdk/issues/832, but for the Meltano repository.

[2022-07-19 06:25] aaronsteers commented on #6389
@edgarrmondragon - Clarification much appreciated. Thanks!

[2022-07-19 07:13] aaronsteers commented on #6408
@tayloramurphy and @DouweM - I'm not clear what the deficiency is, or if there is any deficiency at all. Non-Python plugins are already _fully_ supported - as evidenced by the evidence.dev integration I built here: https://github.com/aaronsteers/aj-dataops-personal/blob/main/meltano.yml#L193-L246

Are we sure there are limitations or do we just need more 'in the wild' examples of container-based p

[2022-07-19 13:53] WillDaSilva commented on #6372
@pnadolny13 Would getting more CLI inflight events be valuable to you?

[2022-07-19 15:50] pnadolny13 commented on #6408
Another one to add to the list is https://github.com/meltano/meltano/issues/3389 I had feedback on the difficulties I had with environment variables when using container spec. It looks like we agreed it was a bug (?) to be fixed but wasnt prioritized for 2.0.

[2022-07-19 16:24] tayloramurphy opened #6450 "docs: clarify plugin properties versus extras versus settings and config"
While working on leaving [this comment](https://github.com/meltano/meltano/pull/6409#issuecomment-1189258124) I was struggling a bit to get clear answers to specific questions in the docs.

1. Is there a succinct description of what a plugin property is, versus plugin extras, versus plugin settings, versus plugin config?

We don't consistently delineate what each of these are in the docs. We have

[2022-07-19 17:46] tayloramurphy commented on #6408
@aaronsteers I would disagree that non-python plugins are fully supported. The Evidence example you linked is very helpful in helping guide and frame this conversation.

Looking at your example, I think it'd make sense to at a minimum pull `container_spec` to the plugin level and out of commands. This could be a replacement for `pip_url` for non-python plugins and allow for optional overrides at t

[2022-07-19 18:18] WillDaSilva commented on #6372
CLI `inflight` events are described in the code as:

[code]

Currently we have manually peppered `add`, `config`, `elt`, `install`, and `invoke` with `tracker.track_command_event(CliEvent.inflight)`. Instead of manually doing this, we could have them be fired automatically from every command whenever the command `await`'s something.

[2022-07-19 18:46] #3277 closed

[2022-07-19 18:47] pnadolny13 commented on #6372
@WillDaSilva ok that makes sense although I dont think I'm the right person to comment on if thats the right place to do this or not.

I'd say more generally that we should try not to send too many events that are basically duplicates with no new info other than acting as a heartbeat but I do see the value for long running jobs. From a data consumer perspective it would be good to get some info pe

[2022-07-19 19:08] WillDaSilva opened #6451 "Cancel stale workflows"
When a PR has multiple pushes in moderately quick succession it ends up running the PR workflows in parallel, but we usually only care about the results from the latest run. Because of that, we should cancel the earlier workflows when a new one is started.

[2022-07-19 19:11] #6393 closed

[2022-07-19 19:12] #6446 closed

[2022-07-19 19:41] WillDaSilva opened #6454 "Generate test workflow summary"
As explained [in this GitHub blog post](https://github.blog/2022-05-09-supercharging-github-actions-with-job-summaries/), and detailed [in the GitHub docs](https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#adding-a-job-summary), we can create a markdown job summary for a workflow. Creating a test workflow job summary similar to the one shown below would be nic

[2022-07-20 16:29] cjohnhanson commented on #2859
Do we necessarily want to treat secrets that differently than other settings? One approach to this would be to just implement secrets backends as SettingsValueStores. So we still automatically fall back to local dotenv or systemdb storage or could have some other precedence order for implemented stores.

[2022-07-20 16:33] cjohnhanson commented on #2859
^ can't think of a specific use case, but then secrets could also be inherited/referenced from other secrets. Something like, if we have `some_aws_arn_we_want_to_keep_secret` in a secrets backend and then in another setting in meltano.yml we might have:
[code]

[2022-07-20 16:35] WillDaSilva opened #6458 "FOSSA dependency review workflow errors on PRs from forks"
Example failure: https://github.com/meltano/meltano/runs/7433188832

From this PR from a fork: https://github.com/meltano/meltano/pull/6456

[2022-07-20 17:22] edgarrmondragon commented on #6458
Saw the same in the SDK: https://github.com/meltano/sdk/issues/841

Seems to happen with dependabot PRs too

[2022-07-21 01:01] aaronsteers commented on #6408
@tayloramurphy

Whether or not to have a top-level `container_spec` is worth spinning off as a separate deep dive discussion. I had taken the opinion that we _shouldn't_ introduce this but that's a topic worthy of additional discussion. Here:

- https://github.com/meltano/meltano/discussions/6459

Can we agree though that the user experience (setting apart the experience of the maintainer) is iden

[2022-07-21 01:31] aaronsteers commented on #6107
@afolson, @tayloramurphy, @pandemicsyn, @edgarrmondragon, @cjohnhanson

I'm imagining a yaml reference for plugins modeled after this [GitHub Yaml Workflow Reference](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iduses).

1. The "top level" for this "Plugin Definition Yaml Reference" would be the level of the plugin entry, but we could (and should)

[2022-07-21 02:05] edgarrmondragon commented on #6107
@aaronsteers what's they say about great minds? That's what I went for in https://github.com/meltano/meltano/pull/6460 😅

I did think about that but came similarly with no out-of-the-box solutions.

[2022-07-21 02:59] #6451 closed

[2022-07-21 20:27] WillDaSilva opened #6464 "Resolve all non-doc lint issues"
As discussed in a recent call, editing an old file only to have it spring dozens of linter issues on you because we currently only lint changed files is always a nasty surprise, particularly for an external or first-time contributor.

While resolving all of the doc/docstring lint issues will be tricky (since it requires good knowledge of every piece of the codebase that lacks docstrings), and is p

[2022-07-21 20:31] WillDaSilva commented on #6464
Here's a summary of the lint issues found by `flake8` for 8ee30c2867a513621b7d48dec7f7780c11aef78f:

[code]

[2022-07-21 20:37] pnadolny13 commented on #6386
@tayloramurphy @rabidaudio I landed on this while working on https://github.com/meltano/squared/issues/289 where I was trying to get away from exporting env vars before running a command like in this case https://github.com/meltano/squared/blob/64cffc745eba6721fb97490d5aa14f6f7a970afc/data/orchestrate/dag_definition.yml#L146 when using schedules/jobs. I was a able to solve it without schedule/job

[2022-07-22 17:17] DouweM commented on #3417
@tayloramurphy This become as priority when we invest in the CDC use case.

[2022-07-22 18:59] BuzzCutNorman opened #6467 "bug: Meltano Upgrade on Windows stops with error "is not a valid Win32 application""
### Meltano Version

2.3.0

### Python Version

3.9

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

Windows Server 2022 Standard

### Description

I have noticed on Windows if the file(symbolic link) `.meltano/run/bin` is present in your project when you run the upgrade via `meltano upgrade` or the `melatno ui` "Upgrade Button" you will get the following `WinErr

[2022-07-22 20:21] BuzzCutNorman commented on #6467
I found running `meltano install`  will create a `.meltano/run/bin' in my test projects.

[2022-07-22 21:03] BuzzCutNorman commented on #6298
I created a new issue #6467 for the `Win32 application` error and submitted a PR to fix the issue #6468 .

[2022-07-22 21:49] BuzzCutNorman commented on #6299
I was wondering if you could supply a little more info about the context in which this occurring.  Was the tap installed via the cli or ui?  Did the tap have an existing configuration you were trying to update or was this the the initial configuration.  If the the tap had a configuration you were trying to edit was the configuration in an environment like dev or prod ?  Could you see the tap confi

[2022-07-24 14:09] WillDaSilva commented on #3203
@aaronsteers Since we don't semantically version our Docker images, I'm in favor of making the breaking change to fully switch to the new slim/secure images. Users who wish to use the existing images will, of course, still be able to by selecting those versions by their image hash instead of one of our `latest*` images.

Once our images don't have as many issues, we can dry-run the Docker publish

[2022-07-24 14:12] #6458 closed

[2022-07-24 15:45] edgarrmondragon opened #6469 "[Bug]: Freshly installed Meltano unusable due to werkzeug update"
### Meltano Version

2.3.0

### Python Version

NA

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

Any

### Description

On a freshly installed Meltano, any CLI command fails due to an import error in the `flask-login` dependency.

### Code

[code]

[2022-07-24 15:48] edgarrmondragon commented on #6469
Related:

- https://github.com/maxcountryman/flask-login/issues/686

[2022-07-24 15:51] edgarrmondragon commented on #6469
One temporary solution is to pin `werkzeug` to `<=2.1.3` and release a patch version of Meltano, while the `flask-login` issue is sorted out.

[2022-07-24 16:09] edgarrmondragon commented on #6469
Seen in GitLab CI too: https://gitlab.com/meltano/legacy-ci/meltano/-/jobs/2762541540

[2022-07-25 14:14] #6469 closed

[2022-07-25 14:44] tayloramurphy commented on #6467
@visch do you have any insights on this one? FYI @aaronsteers if there's someone on the team that can have a look as well.

[2022-07-25 14:53] tayloramurphy opened #6472 "[Bug]: dbt metadata and files bundles point to different location for profiles"
### Meltano Version

All

### Python Version

NA

### Bug scope

Other

### Operating System

All

### Description

The metadata for some number of dbt plugins doesn't accurately represent what will be installed when the files bundle is loaded.

https://github.com/meltano/hub/blob/main/_data/meltano/transformers/dbt-bigquery/dbt-labs.yml#L20-L22 for example points to `$MELTANO_PROJECT_ROOT/transfo

[2022-07-25 16:08] davidism commented on #6469
Flask-Login 0.6.2 was released.

[2022-07-25 16:36] visch commented on #6467
@tayloramurphy from a quick look the PR looks ok, I need to dive in to see if there's something else we can do on the Windows side. My gut is that pip helps us out a bit more than this, but I could be wrong!

Thanks for the PR @BuzzCutNorman

[2022-07-25 16:38] visch commented on #6298
Still need to dive into this a bit more, we should enable the upgrade test on Windows as well. https://github.com/meltano/meltano/blob/main/tests/meltano/cli/test_upgrade.py#L12 is probably the right test to be "reenabled for windows here!)

[2022-07-25 16:57] edgarrmondragon opened #6473 "[Bug]: Require Flask-Login>=0.6.2 and Werkzeug>=0.2.2"
### Meltano Version

2.3.0

### Python Version

NA

### Bug scope

Other

### Operating System

Any

### Description

Latest `Flask-Login` (released 2022-07-25) is compatible with Werkzeug `0.2.2` so we should update our dependencies to use those.

Related:

- #6469

### Code

[code]

[2022-07-25 16:58] edgarrmondragon commented on #6469
awesome, thank you so much @davidism!

[2022-07-25 17:19] aaronsteers commented on #6472
Hi, @cjohnhanson. Thanks for picking this up.

The correct location of the profiles directory would be the adapter-specific profile folder. So, `$MELTANO_PROJECT_ROOT/transform/profiles/bigquery` would be the correct location for bigquery.

This is because dbt doesn't allow pointing to a specific file, and we would want to ensure conflicting profiles don't clobber or conflict with each other.

[2022-07-25 18:50] aaronsteers commented on #3203
@WillDaSilva - I think we can tolerate some amount of risk in swapping the base image for the next new release. Wdyt of fully replacing what we have now as the base image with something that is more secure (and probably lighter/faster also)?

Assuming we confirm everything installs and a couple smoke tests work, I would be okay to replace this and address bugs or other 'extra' dependencies missing

[2022-07-25 19:14] BuzzCutNorman commented on #6467
I figured out why it seemed random to me.  If I use Meltano from a venv or pipx installation to initialize a project using `meltano init test-stuff` a `.\.meltano\run\bin` file is not created. If I start a `poetry shell` from my `meltano` local fork clone and I run `meltano init test-stuff` a `.\.meltano\run\bin' file is created.  The same thing happens if I run `meltano install` in a existing pro

[2022-07-25 20:21] aaronsteers commented on #6389
Thanks, @tayloramurphy. I've updated the title to reflect the confirmed nature of the bug.

[2022-07-25 20:53] cjohnhanson commented on #6472
@aaronsteers @tayloramurphy FYI it looks like this is because the default branch for this repo was at some point changed from `master` to `config-version-2`. The path is correct in `master`, but since the pip url for the repo would just get the default branch, it's getting that incorrect version in that old branch.

@WillDaSilva, @pandemicsyn, or @edgarrmondragon -- it looks like I don't have perm

[2022-07-25 20:58] WillDaSilva commented on #6472
@cjohnhanson I have updated the default branch to be `main`, which points to the same commit as `master`.

[2022-07-25 21:24] astrojuanlu commented on #6472
After the branch is changed, what would be the best way to amend the local filesystem for an existing project? (In other words: is there an alternative solution to "just delete everything and start from scratch"?)

[2022-07-25 21:33] pnadolny13 opened #6477 "bug: `meltano state list` with pattern - no such option"
### Meltano Version

2.3.0

### Python Version

3.8

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

Mac

### Description

It looks like the `--pattern` argument thats in the docs https://docs.meltano.com/reference/command-line-interface#list isnt available on the CLI.

[code]

### Code

_No response_

[2022-07-25 22:12] BuzzCutNorman commented on #6467
@visch , @tayloramurphy , @aaronsteers ,  I was wondering does Windows even need a `.mletano/run/bin` file?  Currently one is not created and everyone is running on pretty well.  I made the assumption I was missing something vital but maybe running `meltano init` and `meltano install` via `poetry shell` was adding something Windows users do not need.

[2022-07-26 00:47] visch commented on #6467
Yeah I don't know why it exists at all, I'd imagine there's a reason I just don't know it right now will have to dig :D

[2022-07-26 04:04] edgarrmondragon opened #6479 "[Bug]: Windows fails silently on Configure Poetry step"
### Meltano Version

NA

### Python Version

NA

### Bug scope

Other

### Operating System

Windows

### Description

Our tests in CI are running only for Pytho 3.9 on Windows even though our matrix suggests we test on 3.7-3.10. I started https://github.com/meltano/meltano/pull/6478 to validate this and confirmed it after seeing the following debug info in all Python versions on Windows:

[code]

[2022-07-26 05:03] BuzzCutNorman commented on #6467
I think I found it.  Here is the link to the  GitLab issue connected to the current `Project.activate()`

[`meltano init` fails when underlying filesystem doesn't support symlinks](https://gitlab.com/meltano/meltano/-/issues/2373)

The symlink is for the AirFlow DAG Generator.  This needs to be in place or the AirFlow orchestrator plugin will fail when you invoke a schedule.

[2022-07-26 05:55] mvgijssel commented on #3181
+1 for this as this will allow us to significantly resize the size of the docker image improving dev, ci and prod performance!

[2022-07-26 12:38] visch commented on #6479
Hmm it's almost like we may need to add some tests to CI :O

https://github.com/meltano/meltano/runs/7509637290?check_suite_focus=true Looks to fail on the `Install Dependencies` task but the job continues to run properly

That looks to be the issue.

I use https://github.com/AutoIDM/tap-clickup/blob/main/.github/workflows/ci.yml for a different job and this one works fine!

[2022-07-26 14:25] tayloramurphy commented on #6467
@BuzzCutNorman I'm not sure. @pandemicsyn @edgarrmondragon @aaronsteers would likely be best to answer

[2022-07-26 14:36] cjohnhanson commented on #6472
@astrojuanlu unfortunately I don't think there's a simple automated solution for correcting an existing project. I think you'll need to manually change the file paths (e.g. something like `mv $MELTANO_PROJECT_ROOT/transform/profile $MELTANO_PROJECT_ROOT/transform/profiles/bigquery`).

[2022-07-26 14:36] tayloramurphy commented on #6472
`config-version-2` was introduced when dbt version 0.17.0 was launched https://docs.getdbt.com/guides/migration/versions/older%20versions/upgrading-to-0-17-0#using-config-version-2 It's not clear to me if we still need to support `config-version-1` and can just point everything to `main`. Especially considering the adapter-specific configs are mainly for 1.0 I think we're okay to just point everyt

[2022-07-26 14:37] #6107 closed

[2022-07-26 14:48] cjohnhanson commented on #6472
@tayloramurphy FWIW all of the other adapter-specific file bundles point to `main`

[2022-07-26 15:46] tayloramurphy commented on #6477
FYI @aaronsteers I'm adding this to next week's iteration to fix.

[2022-07-26 15:50] aaronsteers commented on #6386
@cjohnhanson - Assigning to you for scoping/analysis as related to #6387. Please confirm the spec - especially resolution order - before starting dev.

[2022-07-26 16:28] pnadolny13 commented on #6130
I've been thinking about how this plugin architecture will look holistically and I'm wondering if theres been conversations about how we maintain these glue packages alongside the original package, file bundles, and the hub plugin definition. You all might already be on top of this, if so ignore me but wanted to flag it in case we haven't thought it through yet.

It starts to feel pretty clunky wi

[2022-07-26 16:38] edgarrmondragon commented on #6479
@visch you might wanna take a look at https://github.com/meltano/meltano/pull/6395#issuecomment-1195057216

[2022-07-26 16:43] tayloramurphy commented on #6130
@pnadolny13 that's part of the definition of done in https://github.com/meltano/meltano/issues/6398 basically we want to consolidate these multiple places into a single Airflow Extension (or whatever we call it). Let me know if that specific issue (or the dbt one #6434 ) needs more explanation.

[2022-07-26 17:12] aaronsteers commented on #2971
@pandemicsyn, @edgarrmondragon, @kgpayne

I'd like to pick this up - specifically to add support for prettier exception prints - and to do so behind a feature flag.

When we originally discussed this, we didn't have feature flags yet so the change was deemed excessively risky given people's various preferences and given that different execution environments would have different rendering experienc

[2022-07-26 17:21] aaronsteers opened #6482 "feature: Add support for `NO_COLOR` env var"
Latest spec:

- [ ] Parse a `NO_COLOR` env var per instructions at https://no-color.org
- [ ] Optionally, also accept `--no-color` at the CLI.
- [ ] Pass this setting to logging configs.
- [ ] Pass this setting to `click`.
- [ ] Disable or remove color from `rich` exception logging, as needed.

Notes:

- This is not to be a feature flag or a Meltano setting, and therefor will not be able to be set

[2022-07-26 17:25] DouweM commented on #6482
@aaronsteers I'm pretty sure we can have code detect whether the output device is color-capable! `istty` would be the first step.

[2022-07-26 17:37] aaronsteers commented on #6482
@DouweM - Yes, but there seem to be cases where the terminal itself supports color but the recorded log outputs will not. Perhaps a tri-value (`true`/`false`/`auto`) would make sense here, where we default to auto but users can still control/override this as needed.

[2022-07-26 17:39] aaronsteers commented on #6482
Also, in particular, `istty` just tells us if the terminal is interactive, right? I believe a non-interactive `docker run` may still support color but not be considered a tty. (I could be wrong though; would be good to confirm.)

[2022-07-26 18:09] #6472 closed

[2022-07-26 18:16] edgarrmondragon commented on #6482
I agree with @aaronsteers, and there are cases where color is desired even though the terminal isn't interactive, like GitHub CI.

A number of tools, like `pytest` and `nox`, already use an informal convention of environment variables `FORCE_COLOR` and `NO_COLOR`, or CLI flags alternatively. Pytest additionally offers a `PY_COLORS` that overrides the other two options, and `rich` supports `NO_COLO

[2022-07-26 18:21] cjohnhanson commented on #6386
@tayloramurphy -- there's work in progress (see #5982) to update the precedence order to be in line with [this spec in Miro](https://miro.com/app/board/uXjVO3j_ADw=/). New precedence order would be:
[code]

Supporting `env` in schedules and jobs will happen after that work is completed. So in the new precedence order, where would job and schedule envs fit? Would it be:
A)
[code]
or B)
[code]
Or so

[2022-07-26 18:24] BuzzCutNorman commented on #6467
If you want to see what the symbolic link .\.meltano\run\bin is targeting in Windows run this from a powershell prompt while in a Meltano project folder.

dir .\.meltano\run\ -recurse -force | ?{$_.LinkType} | select FullName,LinkType,Target

I think you can do this other ways but I found this one at it has worked well for me.

[2022-07-26 18:43] aaronsteers commented on #6482
@edgarrmondragon - I didn't know about no-color.org. Fascinating.

----

[2022-07-26 18:53] WillDaSilva opened #6483 "Support Node v16"
Currently building the Meltano UI with Node 16 results in a crash while building libsass. [That library is deprecated](https://sass-lang.com/blog/libsass-is-deprecated), so we should switch to using Dart-sass instead.

CC @alexmarple

[2022-07-26 18:53] aaronsteers commented on #2971
Additional context:

To make a better experience for times when `structlog` is distracting and hard to read, I'd like to make a more viable experience when log level is set very high, such as to the `WARNING` level. If exceptions are clear and readable and containing the needed context, then we have less need for very verbose logging.

Not in any way a requirement that this be viable at the curren

[2022-07-26 19:22] tayloramurphy commented on #6386
@cjohnhanson I think this would be the best order:

[code]

My logic here is similar to what I said in https://github.com/meltano/meltano/issues/6386#issuecomment-1179138398 But basically, a job is a collection of plugins run at the same time and users would likely want to override plugin settings at the job level. Similarly, a schedule is a particular instance of a job and there can be multiple s

[2022-07-26 20:41] #6062 closed

[2022-07-26 22:24] BuzzCutNorman commented on #6467
I just ran across another area that utilizes the `.\.meltano\run\bin` file.  The `Run Now` button in Pipeline tab of the  `meltano ui` utilizes it as well.  I should say the API path of `/api/v1/orchestrations/run` that the button POST to does.  In the very end `MeltanoInvoker.invoke()` is called by `ScheduleService.run()`.  Since it is not passed a command the default command `meltano` is used.

[2022-07-26 23:44] aaronsteers commented on #2859
I've been considering the same and I raised the same today to @tayloramurphy. I'm renaming this issue to reflect the backend as a hybrid parameter/setting/secret backend - similar to AWS Parameter Store's capability of handling Secrets as well as non-secret config options.

[2022-07-27 00:10] edgarrmondragon opened #6485 "bug: Regression in `meltano remove`"
### Meltano Version

2.3.0

### Python Version

NA

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

NA

### Description

Meltano `2.3.0` introduced a regression on `meltano remove` where it complains that the plugin is missing the `settings_with_extras` attribute.

The regression was most likely introduced in https://github.com/meltano/meltano/pull/6267 somewhere

[2022-07-27 00:20] pandemicsyn commented on #6467
Yep, afaik - thats my understanding as well. There's a few spots where things need to be able to call `meltano` itself, and in the new plugin architecture that's still present...and I think its expected that plugins will need to call `meltano` occasionally.

[2022-07-27 00:31] #6392 closed

[2022-07-27 00:44] pandemicsyn commented on #2971
If the spec is just "enable pretty printing of exceptions via rich and the ff flag is turned on" the weights probably a 2 or 4.  I think they automatically turn on when rich is installed (which is actually super annoying), but when we talked about this last, I think I went and looked and pretty sure there's also an accessible flag that lets you explicitly control the exception formatter in structl

[2022-07-27 02:47] WillDaSilva opened #6486 "Meltano webapp Javascript dependency vulnerabilities"
The following vulnerabilities have been detected:

[code]

_Originally posted by @WillDaSilva in https://github.com/meltano/meltano/issues/6484#issuecomment-1196203789_

---

More probably exist. The above are those which were detected in #6484, which added support for Node v16. We should go through the webapp Javascript dependencies, and bring them up to date where feasible. That alone should sig

[2022-07-27 12:01] astrojuanlu commented on #6472
Confirmed it works now 👍🏽

[2022-07-27 14:11] tayloramurphy commented on #6485
Thanks for opening @edgarrmondragon. @aaronsteers I'm assigning to Iteration 10 as a fixing regressions should be a high priority.

[2022-07-27 14:49] tayloramurphy commented on #6408
@aaronsteers I think that's a fair statement. There are some oddities in the implementation that we can clear up likely in other issues.

One thing I do want to call out though is the perception challenge with container based plugins. The fact that it even feels like we might not support containerized plugins is itself a problem and we should fix through documentation and marketing. But also given

[2022-07-27 14:49] #6408 closed

[2022-07-27 15:15] pandemicsyn opened #6490 "Transition flask-security to a maintained package"
In https://github.com/meltano/meltano/pull/6474 I (we?) noticed that we use our own flask security fork:  https://github.com/meltano/flask-security. That's forked from https://github.com/mattupstate/flask-security which appears abandoned and unmaintained.

We should see if we can transition to https://github.com/Flask-Middleware/flask-security/ if it's compatible.

[2022-07-27 15:59] aaronsteers commented on #2859
2 known challenges:

## Challenge 1: How to map arbitrarily named keys in the setting store to specific settings

The external parameter store may be controlled by another team besides the data team, and may have key names that cannot be changed.

E.g. the key in the external store might be `data-team/aws_creds/access-key` and `data-team/aws_creds/aws-secret-key`.

## Challenge 2: How to graft in

[2022-07-27 16:19] aaronsteers commented on #2859
From Cody:

[2022-07-27 16:22] WillDaSilva opened #6491 "MyPy is not being run in CI"
The style guide in the contributor docs says:

We are not currently running MyPy at all. We should immediately update the contributor doc to reflect that. Later we should update our GitHub CI to run MyPy, and work towards getting MyPy passing.

[2022-07-27 16:26] tayloramurphy commented on #3215
@aaronsteers I'm going to close this as we implemented the change. It's not clear to me if we still need an ADR on that, but I'm going to make that your call.

[2022-07-27 16:26] #3215 closed

[2022-07-27 16:29] tayloramurphy commented on #3200
@aaronsteers who do you see as being responsible for actually creating and merging the ADR? For my part this feels like something Engineering should manage - is that accurate? We likely need a handbook update for this.

[2022-07-27 16:48] tayloramurphy commented on #2928
I'm closing this as we've implemented a number of changes around dbt to improve the experience. As we dive in on improving dbt support we can open new issues around specific improvements / bugs.

[2022-07-27 16:48] #2928 closed

[2022-07-27 17:19] pandemicsyn commented on #2859
Peeking at https://github.com/apache/airflow/blob/main/airflow/secrets/base_secrets.py#L25:7 and a sample implementation for Hashicorp Vault: https://github.com/apache/airflow/blob/main/airflow/providers/hashicorp/secrets/vault.py

Could we get a quick win by just having the first version of a secrets plugin be one that just essentially wrap's the Airflow secrets backends in a cli?

[2022-07-27 17:45] WillDaSilva opened #6493 "feature: Publish Docker images to the GitHub registry"
As discussed during the call on 2022-07-26 with myself, @aaronsteers, and @edgarrmondragon, we should run our Docker publish GitHub workflow on a weekly basis. This will let us detect security issues that have arisen since the last scan was run.

For testing purposes we should introduce a new setting `registry`, and set it to `ghcr.io`, which is the GitHub registry. The alternative would be to do

[2022-07-27 18:00] WillDaSilva opened #6494 "[Feature]: Collect telemetry data about how `send_anonymous_usage_stats` was configured"
The project context (and its schema) should be updated to include the key `send_anonymous_usage_stats_source` with the value `ProjectSettingService.get_with_metadata('send_anonymous_usage_stats')[1]['source'].value`, which can be one of the following strings:
- `auto`
- `config_override`
- `db`
- `default`
- `dotenv`
- `env`
- `inherited`
- `meltano_env`
- `meltano_yml`

CC @pnadolny13 @aaronsteer

[2022-07-27 18:20] edgarrmondragon commented on #6490
Looking at the commit history in our fork, it seems like we only forked just so we could have a PyPI release with something that was sitting in `master` of the original 😅

[2022-07-27 18:50] edgarrmondragon opened #6495 "bug: Schedules JSON schema doesn't accept cron expressions"
### Meltano Version

NA

### Python Version

NA

### Bug scope

Other

### Operating System

Any

### Description

https://github.com/meltano/meltano/blob/3a6ff7e7e167f51b9a5570eeaee48faed032a9c0/schema/meltano.schema.json#L769-L774

### Code

_No response_

[2022-07-27 18:51] tayloramurphy commented on #6495
FYI @aaronsteers I've added to the next iteration

[2022-07-27 20:00] WillDaSilva opened #6496 "Upgrade to `pytest-docker` v1"
https://pypi.org/project/pytest-docker/

`pytest-docker==1.0.0` was released earlier today, and it includes support for Docker compose v2, which is not a Python package. We'll be able to use that to drop our dev dependency on Docker compose v1, which in turn will let us upgrade to the latest major version of `jsonschema`, which is the final Meltano dependency that is considered "out of date" by `l

[2022-07-27 20:04] WillDaSilva commented on #6493
GitHub container registry docs: https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry

[2022-07-27 20:05] WillDaSilva commented on #6493
We shouldn't tackle this issue until we've updated the base images used, and addressed the most severe security issues detected by the container scans. If we ran the scans regularly now, it would just make unactionable noise.

[2022-07-27 20:26] WillDaSilva opened #6497 "Address container scan alerts"
The container scans were last run in https://github.com/meltano/meltano/pull/6410, and they revealed the following issues:
https://github.com/meltano/meltano/security/code-scanning?query=ref%3Arefs%2Fpull%2F6410%2Fmerge+tool%3AGrype

We expect that many of these will be addressed by
- #3203

This issue exists to address the remaining issues deemed significant enough. In addition to addressing thos

[2022-07-27 21:13] cjohnhanson commented on #5982
@aaronsteers (CC @kgpayne--you might have also come to this conclusion or otherwise have some insight here)

After banging my head against this for a long time, I think I've come to the embarrassing conclusion that current behavior is in line with the spec and I misinterpreted the precedence order when writing these tests.

 Basically, the currently failing tests fail because they have environment

[2022-07-27 21:34] edgarrmondragon commented on #6496
@WillDaSilva interesting! So `pytest-docker` doesn't depend on [`docker-compose`](https://pypi.org/project/docker-compose/) (and in turn on [`docker`](https://pypi.org/project/docker/), which is likely to become unmaintained: https://github.com/docker/docker-py/pull/2989)?

That'd be neat and I that might fix the failing tests on Windows for Python 3.10.

[2022-07-27 21:47] tayloramurphy commented on #5982
@cjohnhanson I might need some example meltano.ymls + terminal contexts to understand what you're saying here. Or maybe even having one of the new integration tests would be really helpful in understanding. I'm trying to match what I said in https://github.com/meltano/meltano/issues/6386#issuecomment-1195887590 with what you're saying in your comment and I'm confusing myself.

[2022-07-27 22:06] WillDaSilva commented on #6496
@edgarrmondragon Yes, it seems like the only reason we have a dependency on `docker` is because of `pytest-docker`, so it should fix the failures observed on Python 3.10. In light of that, I've moved this up to the next iteration.

Relates to #6479

[2022-07-27 22:22] cjohnhanson commented on #5982
@tayloramurphy  here's an example that I think demonstrates this pretty well:

If we have this meltano.yml:
[code]
  and we run:
[code]
  then we'll get:
[code]
  Which is correct behavior.

  _BUT_ if we run:
  ```LS_FROM="terminal context" meltano invoke --print-var LS_FROM ls```
  then we'll get:
[code]
  My initial reading of the spec was that this behavior is incorrect because active-environm

[2022-07-27 22:35] BuzzCutNorman commented on #6467
Thanks, for the clarification.  Sounds like I should move forward with making sure a the symlink `.\.meltano\run\bin` is present.

[2022-07-27 22:40] #6240 closed

[2022-07-27 22:54] WillDaSilva opened #6498 "bug: No way to dismiss image scan alerts"
### Meltano Version

NA

### Python Version

NA

### Bug scope

Other

### Operating System

NA

### Description

Currently we use `.github/actions/docker-build-scan-push/check_sarif.py` to analyze the SARIF report created from running `grype` to scan our Docker images. It parses the SARIF JSON file itself to check if there are any issues detected with a severity above some threshold in the range

[2022-07-28 01:07] s7clarke10 commented on #6164
Noting that this feature is related to this discussion : https://github.com/meltano/meltano/discussions/6273 .

[2022-07-28 13:30] larskoe opened #6501 "[Bug]: Confusing meltano install logs"
### Meltano Version

2.3.0

### Python Version

3.8

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

MacOS - 12.4

### Description

When running `meltano install`, it'll say skipped for the inherited plugins. This is confusing as it indicates they aren't being installed (see screenshot below).

<img width="508" alt="Screen Shot 2022-07-28 at 2 17 04 PM" src="http

[2022-07-28 15:41] pandemicsyn opened #6502 "Race condition when loading or updating project files"
The [`ProjectFile`](https://github.com/meltano/meltano/blob/859083b8c76c1b5d88ba30dbefb1b475a08f1fc4/src/meltano/core/project_files.py#L38) implementation as is today isn't thread safe and has a potential problematic race condition.

This isn't really an issue yet, but will likely become one if we work on API v2 or possibly if something `melturbo` like ever comes to fruition. This manifested for t

[2022-07-28 16:15] cjohnhanson opened #6504 "[Bug]: <title>"
### Meltano Version

1.105.0, 2.1.0

### Python Version

3.8

### Bug scope

Configuration (settings parsing, validation, etc.)

### Operating System

Mac OS (Apple M1 Macbook Pro)

### Description

From troubleshooting channel in Slack:

Could you please help us? When we change something in the cfg of Airflow is not automatically reflected by Meltano?
We restarted the ariflow webserver but seems

[2022-07-28 16:27] tayloramurphy commented on #6504
@cjohnhanson I wonder if this is related at all to https://github.com/meltano/meltano/issues/6119 @pandemicsyn any thoughts?

I'm in favor of getting this prioritized! Assigning to the next iteration.

[2022-07-28 17:19] pandemicsyn commented on #6504
It's the right neighborhood as far as the code goes. That users on 1.105.0 - (2022-05-19) which does predate the fix we applied in #6119 - could be #6119 was only a partial fix, was a placebo and really just cleaned up that unneeded call, or this is a totally separate bug.

[2022-07-28 17:24] #6277 closed

[2022-07-28 17:51] BuzzCutNorman commented on #6467
Two clarifying questions:

1. You don't need `./.meltano/run/bin` explicitly just the ability for `MeltanoInvoker.invoke()` to call `meltano`?
2. In a simple single shared production server scenario (multiple people logging in and running `meltano` commands against a single project).  Is `meltano` suggested to be installed globally or per user?

[2022-07-28 18:21] pandemicsyn commented on #6504
I'm not sure why, but I can't replicate this:

To start with, I included a custom webserver port and started airflow, ctrl-c'd it. Worked ok. My config at that point looked like:

[code]

Now changing some config vals:

[code]

Starting it, and rechecking the generated airflow.cfg:

[code]

[2022-07-28 18:29] tayloramurphy commented on #5982
@cjohnhanson I think I realize the gap. This whole time I thought you were talking about environment variable precedence with regard to the `env` at all levels.

In your example I think yes, what you've described is right. Where I was getting stuck is if a user were to specify `env` containing `LS_FROM: something` anywhere in their meltano.yml then I would expect that to take precedence over what'

[2022-07-28 18:35] aaronsteers opened #6512 "bug: Conflicting behavior flags in `meltano config set`"
### Meltano Version

latest

### Python Version

NA

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

any

### Description

From Slack: https://meltano.slack.com/archives/C01TCRBBJD7/p1659032672217559?thread_ts=1658965446.758529&cid=C01TCRBBJD7

With the example invocation:

[code]

The expectation is that meltano would store the value within the environment confi

[2022-07-28 18:44] cjohnhanson commented on #5982
@tayloramurphy yes exactly, I failed to disambiguate "environment variables" from "plugin settings" since I think in practice it should be rare to pass to plugins environment variables which are not _also_ configuration settings (or maybe it's not rare and I'm further displaying my ignorance here 😅). The existing unit tests _do_ test for "environment variable precedence with regard to the `env` at

[2022-07-28 19:12] WillDaSilva opened #6516 "bug: `python -m meltano` errors"
### Meltano Version

2.3.0

### Python Version

NA

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

NA

### Description

[code]

Running `python -m meltano` should be equivalent to running `meltano`. To do this, we need only add `src/meltano/__main__.py` with the following code:

[code]

This would make `python -m meltano` equivalent to `python -m meltano.cli`.

[2022-07-28 20:01] tayloramurphy commented on #6512
@aaronsteers we don't mention `meltano_enviornment` as a store option anywhere in the docs. And it's fairly confusing behavior with the --environment flag imo. I'd be in favor of just getting rid of it.

Either way, this is definitely a bug and should be fixed!

[2022-07-28 20:16] pandemicsyn commented on #6467
1. Not just `MeltanoInvoke.invoke()`, I assume `.\.meltano\run\bin` is present so plugins themselves's have access to the meltano cli. e.g. in the future a plugin my need to use `meltano state` or something.
2. Not sure as if its really "globally installed" as much as "globally to some pyenv/venv/python". To be honest though, not sure how this plays with pipx or container invoked plugins.

[2022-07-28 20:24] abhi-quinyx commented on #6373
@halilduygulu  any tips on how you did this ( meltano in docker ) . I was able to install meltano in the container but end having pip version related issues when installing the taps or targets inside the container .

[2022-07-28 20:44] #6483 closed

[2022-07-28 21:22] aaronsteers commented on #6360
@edgarrmondragon - Do you have confidence in what would be needed on the docs side here, and then some helpful update to the error text that could point to the assist in the docs?

[2022-07-28 21:42] pandemicsyn commented on #6502
/cc @cjohnhanson forgot to ping you on this sorry. Just wanted to give ya heads up that I spun out a tracking issue for this race we ran into.

[2022-07-28 23:38] edgarrmondragon opened #6529 "feature: Support for MySQL as a backend database"
### Feature scope

State backend, settings store, job heartbeat.

### Description

Similar to what #6167  did for MSSQL. Namely:

- Update migrations, if necessary
- Add entries to the CI matrix

Decisions left to the implementer:

- Which client library to use. Whatever the choice, it must be supported by SQLAlchemy.
- Whether to use MariaDB or MySQL for the integration tests. It shouldn't matter

[2022-07-29 01:31] edgarrmondragon commented on #6360
@aaronsteers yes, I think we can either

1. document that plugins _should_ declare an explicit variant in `meltano.yml` or
2. treat the `original` variant as we do the `default`, and just pull the default variant from Hub (I hadn't realized we can do this)

The latter would make this a bug fix rather than a mere documentation task. It should be fairly safe AFAICT, but we can still emit warning. Wd

[2022-07-29 03:21] #6189 closed

[2022-07-29 14:48] pnadolny13 commented on #6130
@tayloramurphy awesome youre on it! It might be clear to others but in https://github.com/meltano/meltano/issues/6398#issue-1301179856 it talks about trying to solve the multiple repos problem but its not explicitly part of the definition of done. Is that intentional for a first iteration? It might change the way that the SDK skeleton is designed.

The definition of done says

which might not mean

[2022-07-29 15:12] tayloramurphy commented on #6130
@pnadolny13 the monorepo question is about having meltano + extensions + hub/sdk in the same repo. I'll update the language to make it clear that all of the Airflow extension code should live in the same place.

[2022-07-29 15:12] pandemicsyn commented on #6130
@pnadolny13 @tayloramurphy  Based on my reading of the issues, I was sort of operating under the assumption that everything would be self-contained in the plugin/extension because at first glance that simplifies things. And asking users to install both files-airflow and airflow extension seems wasteful. But I'm just starting down the path of actually working on an actual airflow plugin the last fe

[2022-07-29 15:15] tayloramurphy commented on #6130
@pandemicsyn yep, you've got the right assumption. I've updated the description of the issue to call that out.

[2022-07-29 15:23] pnadolny13 commented on #6130
@tayloramurphy I know theres that discussion about bring our packages meltano/hub/sdk into one repo but yeah I'm talking about bringing all components of a single plugin into one package like file bundle/plugin definition/glue code/package. That package could end up living in the meltano/meltano github namespace but as long as its 1 installable piece of code (or 2 like Airflow). Sounds like were o

[2022-07-29 15:32] pnadolny13 commented on #6130
One other thing that I was thinking about recently related to this is the fact that sometimes having many repos is a pain especially for a small piece of code like these glue plugins might be. Especially because lots of people are doing custom things that arent going to be useful outside their context, so theyre the only ones installing their package.

I wonder if we considered making the plugin S

[2022-07-29 15:49] BuzzCutNorman commented on #2841
Is this still something the Meltano team is looking to add and would the addition of queues be helpful for getting BATCH/FastSync implemented ?

[2022-07-29 17:04] tayloramurphy commented on #2841
@BuzzCutNorman good question!

@aaronsteers what are your thoughts on this as we start to prioritize more EL-related work?

[2022-07-29 17:26] tayloramurphy commented on #6130
@pnadolny13 thanks for your thoughts on this. I really like the user journey you've described here. Keeping it focused on the work they're doing is great.

I think there's an opportunity for some interactive aspect too. If a user is trying to add an existing python package or containerized tool, we could ask that and have slightly different behavior - otherwise we just assume it's Python and roll

[2022-07-29 17:27] #6371 closed

[2022-07-29 17:47] WillDaSilva opened #6532 "[Bug]: Snowplow tracker does not timeout when endpoint is unavailable"
### Meltano Version

2.3.0

### Python Version

NA

### Bug scope

Other

### Operating System

NA

### Description

First reported by @dingobar here: https://meltano.slack.com/archives/C01TCRBBJD7/p1659099832402809

We should:
- Change the default `request_timeout` value for `meltano.core.tracking.Tracker` from `None` to `3.5`.
- Add a test that simulates the endpoint not responding.

### Code

_

[2022-07-29 17:50] tayloramurphy commented on #6532
@WillDaSilva thanks for opening and picking up!

[2022-07-29 18:35] BuzzCutNorman commented on #6467
Looking at the airflow-files meltano.py it checks for the presence of the `.\.meltano\run\bin` file and then has a fallback of `meltano` being present in the PATH.
[code]
Would this be the pattern for all plugins?

[2022-07-29 19:09] WillDaSilva commented on #6532
I attempted to use `requests_mock` (which we already have as a dependency) to mock the timeout, but unfortunately when it is being used the `requests` library doesn't seem to raise a timeout error. Hosting a basic HTTP server in a subprocess that accepts the connection but never responds to GET/POST requests might be the way to go.

[2022-07-29 19:49] alex-harness commented on #6130
@pnadolny13

As a user, my response:
👀 🔥

[2022-07-29 21:41] pnadolny13 commented on #6130
@tayloramurphy @pandemicsyn one other thing that came up in a conversation earlier that stuck with me is that we might be choosing to have the SDK plugin share a venv with the underlying parent package, in the case of a wrapper plugin like for Airflow/Superset/etc., but wouldnt that cause a dependency headache? I wouldn't want to write a SDK plugin thats at the mercy of the parent plugins dependen

[2022-07-29 22:06] WillDaSilva commented on #6130
@pnadolny13 The install-time advantage isn't even all that large in most cases, since any deps that could be re-used would be cached anyway after the parent plugin downloads it.

[2022-07-29 22:49] #5982 closed

[2022-07-30 04:31] WillDaSilva commented on #6495
The schema states that we accept a UNIX cron expression, but in practice we accept whatever Airflow accepts, and Airflow accepts whatever [`croniter`](https://github.com/kiorky/croniter) accepts. I think resolving this issue should consist of these changes:
- Update `src/meltano/core/schedule.py::Schedule::cron_interval` to normalize the provided cron interval using `croniter` instead of the custo

[2022-07-30 18:44] EMCP opened #6536 "Getting error when attempting to use airflow with meltano and py3.10"
### Meltano Version

2.3.0

### Python Version

3.10

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

Kubuntu 22.04

### Description

while attempting to install .. got stuck when attempting to add airflow will put replication steps here

1) start a blank new project with the latest meltano available..

[code]

this might be a hinderance to meltano fully supporti

[2022-07-30 18:49] EMCP commented on #6536
seems according to https://github.com/apache/airflow/issues/19059 , support for py 3.10 will come in `v2.3.0` of airflow

[2022-07-30 18:51] EMCP commented on #6536
can confirm .. https://raw.githubusercontent.com/apache/airflow/constraints-2.3.0/constraints-3.10.txt is a valid path

is there a troubleshooting area I can add this tip to? or how can I help smooth this out for future users?

[2022-07-30 19:01] EMCP opened #6537 "Possible typo in migration doc from 1.x to 2.x ?"
### Meltano Version

2.3.0

### Python Version

3.10

### Bug scope

Other

### Operating System

N/A

### Description

upon finding the migration docs.. I got caught up on one line in particular

_Removing a file bundle does not remove any files from your transform/ directory. Manually remove `transform/profiles.yml`_

the issue is, this file after performing the upgrades .. doesn't exist.. inste

[2022-08-01 00:15] visch commented on #6479
Going to focus first on why the https://github.com/meltano/meltano/runs/7509637290?check_suite_focus=true "Install Dependencies" task isn't reporting a failure to github actions. This is strange to me running the command locally seems to fail so something is up, and we need to be able to trust that a failed proc (non 0 exit code) is going to report to github actions it's a failure.

[code]

Based

[2022-08-01 00:51] visch commented on #6479
Attempted to replicate here https://github.com/visch/gh_actions_windows_poetry_test/runs/7602621751?check_suite_focus=true , this one fails fine :O , so diving more but the strangeness is concerning I'm sure I'll find it

[2022-08-01 00:54] WillDaSilva commented on #6496
@visch since you're currently looking into https://github.com/meltano/meltano/issues/6479, you probably want to be aware of this.

[2022-08-01 14:36] #6537 closed

[2022-08-01 16:36] aaronsteers opened #6655 "docs: create deployment guide on deploying Meltano with Airflow on MWAA"
The K8 deployment is [having some issues](https://github.com/meltano/squared/issues/325) and it's not a great situation to just have one engineer able to support/troubleshoot kubernetes. We need to create a quick deployment guide for MWAA anyway, so this seems like a good opportunity to deploy the squared repo over to the MWAA managed Airflow service and at the same time prep a guide for our users

[2022-08-01 17:56] pandemicsyn commented on #6440
@tayloramurphy @aaronsteers I've got a 1st draft over on https://github.com/meltano/meltano/pull/6539 if y'all want 👀 . Have one section flagged on the PR for you both of y'all and one additional section flagged for @tayloramurphy.

[2022-08-01 18:28] visch opened #6540 "Windows CI when calling remote exe doesn't fail properly for multiline runs"
Found the issue, it's still perplexing but atleast I understand more about what is happening

[code]

You would expect to fail, because `purposelyfail` is an invalid environment. I have a test repo setup.  When you run this on these platforms here's what you get

- [Ubuntu](https://github.com/visch/gh_actions_windows_poetry_test/runs/7615264438?check_suite_focus=true) - Fails as expected
- [Window

[2022-08-01 18:42] visch commented on #6479
https://github.com/meltano/meltano/pull/6541/checks

Shows why Windows actions were succeeding even though so commands were failing along the way. Because the actual fix to the correct python version seems "simple" (famous last words) I'll try it right now and see if I can't get that done. Thought I'd split out the issue as I could see this being a bit controversial!

[2022-08-01 21:13] tayloramurphy commented on #6536
@EMCP this makes me think of this issue https://github.com/meltano/hub/issues/126

Related to this too, we have an issue to get Airflow upgraded to 2.3 https://github.com/meltano/hub/issues/658 but there's some work in Meltano we'd need to do to make that happen.

That said, we could add a note in the `next_steps` in https://github.com/meltano/hub/blob/main/_data/meltano/orchestrators/airflow/apac

[2022-08-02 00:01] edgarrmondragon commented on #6479
@visch that's an intriguing issue with GitHub actions in general, but may not be too relevant anymore at least for our Windows case, since #6395 got merged. I'd be in favor of changing the title of this issue to reference the actual Windows failures, or closing it and create new and separate issues for the failures on Python 3.7 and 3.10. The former I think is the trickier one since it seems to re

[2022-08-02 00:19] visch opened #6544 "bug: Windows fails on Python 3.7"
### Meltano Version

Latest

### Python Version

3.7

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

Windows

### Description

Windows fails on Python 3.7,

4 tests are failing we should address them with at least an xfail.

See https://github.com/meltano/meltano/runs/7618285486?check_suite_focus=true

### Code

_No response_

[2022-08-02 00:27] visch opened #6545 "[Bug]: Windows fails on Python 3.10"
### Meltano Version

latest

### Python Version

3.10

### Bug scope

API

### Operating System

Windows

### Description

See https://github.com/meltano/meltano/runs/7618285787?check_suite_focus=true

Will be solved almost certainly by https://github.com/meltano/meltano/issues/6496 !

### Code

_No response_

[2022-08-02 00:45] visch commented on #6479
Responded here https://github.com/meltano/meltano/pull/6542/files#r935018790 , maybe we could update this issue name to be `[Bug]: Windows fails silently on Configure Poetry step`

[2022-08-02 00:50] visch commented on #6540
There looks to have been a fix implemented here https://github.com/PowerShell/PowerShell/pull/15897 we would need to look into how to implement this

[2022-08-02 13:56] pnadolny13 commented on #6494
@WillDaSilva thanks for opening this. I agree that this would be useful to have.

For others reading this, the context is that we dont know where the setting comes from so sometimes we see projects toggling between opting out and opting in. We were chatting about how that could be due to different configurations in local vs production environments i.e. locally telemetry is on but in prod things ar

[2022-08-02 14:31] #6532 closed

[2022-08-02 14:47] cjohnhanson commented on #3124
Closing as irrelevant now that we've moved to GitHub Actions.

[2022-08-02 14:47] #3124 closed

[2022-08-02 15:25] tayloramurphy commented on #6386
@aaronsteers @cjohnhanson I'm pulling this out of the next iteration. While I think this would be a useful thing to have, I don't think we need to currently build it ourselves. Thinking through the spec discussion has been useful and clarifying in relation to #6387 but adding support for `env` at the jobs level isn't critical right now.

I'll mark it as accepting PR's though in case the community

[2022-08-02 15:36] WillDaSilva opened #6548 "bug: `flask-login` version `0.6.2` results in API security test failures"
Keeping `flask-login` at `0.6.1` fixes [the failing tests](https://github.com/meltano/meltano/runs/7634167148).

When the tests are run in isolation, they do not error, regardless of whether I had `flask-login` at `0.6.1` or `0.6.2`, which suggests that resolving #6300 would address the underlying issue here.

Relevant changelog: https://github.com/maxcountryman/flask-login/blob/main/CHANGES.md#ve

[2022-08-02 16:40] aphethean1 opened #6549 "[Feature]: I need to know when a plugin update is available"
### Feature scope

CLI (options, error messages, logging, etc.)

### Description

**As a user, I need to update plugins**

**As a user, I need to know when a plugin update is available**

**As a user, I need to be warned when plugins are no longer supported by meltano.**

When maintaining a meltano project I have locked by plugin / extractor / loader during add.  How do I know when a new update is

[2022-08-02 16:41] aphethean1 commented on #6549
https://github.com/meltano/meltano/issues/6416#issuecomment-1183583595

[2022-08-02 16:45] aphethean1 opened #6550 "[Feature]: meltano add to project without install"
### Feature scope

CLI (options, error messages, logging, etc.)

### Description

**As a user, I need to add to my meltano project without install**

Adding to a meltano project is currently a very slow operation.  Our requirement is to add all the plugins to the project and then later build (i.e. 'meltano install') the whole project.  This means that the initial 'meltano add' is unnecessarily slo

[2022-08-02 17:03] aphethean1 commented on #6549
Found there is an update plugin feature (https://docs.meltano.com/reference/command-line-interface#lock)
`meltano lock tap-intercom --update`

[2022-08-02 17:05] aphethean1 commented on #6549
NB - there is no support for add with version, this is just an example syntax.  Add with version would of course enable a downgrade.  ‘meltano add extractor tap-csv@1.0.3’

[2022-08-02 18:08] tayloramurphy commented on #6549
Definitely related to https://github.com/meltano/hub/issues/219

[2022-08-02 18:12] #6353 closed

[2022-08-02 19:08] #6496 closed

[2022-08-02 19:43] WillDaSilva opened #6554 "[Bug]: FOSSA CI job fails because it cannot find the latest version"
### Meltano Version

NA

### Python Version

NA

### Bug scope

Other

### Operating System

NA

### Description

This is causing failures for:
- https://github.com/meltano/meltano/pull/6553
- https://github.com/meltano/meltano/pull/6505

It will likely cause CI failures for any new PRs until it is resolved.

Example: https://github.com/meltano/meltano/runs/7639031548

[code]

### Code

_No respon

[2022-08-02 19:53] WillDaSilva commented on #6554
There is a new version of the `fossa-cli` installer available, tagged as `v3.3.11`, but it has the same content has as the installer for `v3.3.10` and `master`, so I don't see how that would be affecting the job.

[2022-08-02 20:59] #6545 closed

[2022-08-02 22:36] #6554 closed

[2022-08-03 10:40] #6116 closed

[2022-08-03 13:12] pnadolny13 opened #6556 "bug: Telemetry Invalid Context JSON"
I'm seeing 3 events this morning that are causing failures in the Snowflake staging of the telemetry data because theres invalid json in the contexts column. I was able to narrow it down to this snippet of the contexts field. It almost looks like the user ran something like `meltano invoke dbt-snowflake:run\` with the backslash in their plugin command, and we just passed it through. So it ends up

[2022-08-03 13:14] WillDaSilva commented on #6556
I would consider this a Meltano bug. We're the ones who built this invalid JSON out of user inputs - it falls on us to sanitize the user input before putting it into the JSON.

[2022-08-03 13:15] WillDaSilva commented on #6556
@pnadolny13 Did you mean a backslash?

[2022-08-03 13:23] pnadolny13 commented on #6556
@WillDaSilva yeah good catch, I did mean backslash. I updated the description.

[2022-08-03 15:25] tayloramurphy opened #6560 "proposal: rename plugins to components with sub-categories of connectors, tools, and resources"
Previously discussed in https://github.com/meltano/internal-general/issues/333 (private repo).

Proposal is to have a broad renaming of `plugins` --> `components`. A sub-category from there could potentially be `connectors`, `tools` and `resources`.

@aaronsteers proposed a few "frames" which we can use to evaluate how we feel about this change.

- How we bucket or categorize plugins on hub.meltan

[2022-08-03 16:02] WillDaSilva commented on #6556
Building a `PluginTrackingContext` with a command name ending with `\` results in `SelfDescribingJSON` that is properly escaped. Sending that context to Snowplow Micro results in a good event. I'm not sure how to reproduce this error. @pnadolny13 do you have any other context that might help? Maybe the raw event data would be useful.

[2022-08-03 18:02] aaronsteers commented on #6164
@s7clarke10 - This topic came up today in office hours. One new idea that came up in that session was that an alternative solution here would actually be to have a dynamic environment name - or perhaps a dynamic `environment_id` optional key in the yaml config. Since environment name/ID is a seed into the state ID values, this solution could "just work".

A sample definition where you want Meltano

[2022-08-03 18:16] edgarrmondragon commented on #6164
@aaronsteers I'm not a fan of not having a predictable environment name (or ID) and relying on variables that are not known to Meltano (and perhaps to the user) until a command is executed. If the goal is to give more control over auto-generated state IDs, the arguably simpler path of offering a `state_prefix` or similar key per environment is preferable. Wdyt?

[2022-08-03 18:30] aaronsteers commented on #6164
@edgarrmondragon - I can see pros and cons to the approach, for sure. One challenge is that we _are_ overloading the environment construct to create logically distinct and separate "sub environments" - because the state ID suffix in these use cases often needs to change in concert with other environment-level details, such as the target S3 bucket being different.

When the _outputs_ as well as the

[2022-08-03 18:37] tayloramurphy commented on #6164
I'm inclined to agree with @edgarrmondragon here. Part of the problem statement is:

It's not clear to me what other benefit we're getting by having the dynamic environment id other than the state-id behavior change. The only problem we're really trying to solve here is giving the user more control over the state-id and I don't understand how bringing that to the environment level solves it better

[2022-08-03 18:55] #3203 closed

[2022-08-03 21:38] tayloramurphy commented on #6377
@halilduygulu apologies for the delay in responding. Currently there is not, but we have https://github.com/meltano/meltano/issues/2677 which is an older issue looking at performance. We do aim to make improvements to EL performance over the coming months though.

[2022-08-03 21:38] tayloramurphy commented on #6377
@halilduygulu apologies for the delay in responding. Currently there is not, but we have https://github.com/meltano/meltano/issues/2677 which is an older issue looking at performance. We do aim to make improvements to EL performance over the coming months though.

[2022-08-03 21:38] #6377 closed

[2022-08-03 21:39] tayloramurphy commented on #6205
@everettttt I'm closing due to inactivity, but please feel free to re-open if needed!

[2022-08-03 21:39] #6205 closed

[2022-08-03 21:41] tayloramurphy commented on #6421
@aaronsteers adding this small issue to the next iteration.

[2022-08-03 21:43] tayloramurphy commented on #6172
@aaronsteers as the last issue in your comment is nearly merged, I'm assigning this to @kgpayne to validate the behavior is no longer present.

[2022-08-03 21:45] tayloramurphy commented on #6097
@aaronsteers ping on the above question. @WillDaSilva you will likely have some insight as well.

[2022-08-03 21:46] #6360 closed

[2022-08-03 21:56] tayloramurphy commented on #3171
@aaronsteers @pandemicsyn ping on the question above.

[2022-08-03 22:37] pandemicsyn commented on #3171
afaik - this has behavior has always been present - i've gotten tripped up by it as well. Internally, we really only support env var expansions for strings and objects/dicts if I recall.  Not sure, if "plan of actions" was asking for a workaround for the user in the parent comment, but I don't know that I have any clever ways of working around this. IMHO might be worth considering adding actual su

[2022-08-03 22:41] pandemicsyn commented on #3171
Ah should have dug a big more, just saw Douwe's comment pointing to an old comment of his actually laying this out:

via https://gitlab.com/meltano/meltano/-/issues/2481#note_468385206

[2022-08-03 23:02] cjohnhanson commented on #3171
@pandemicsyn if I've learned anything from time spent in config/env var stuff, it's that these types of changes are always more complex than you would think.

If we _only_ want to support the narrow use case that @tayloramurphy uses as an example here, then this is more straightforward since we'd only need to do environment variable expansion using `os.environ`, which we can obviously access anywh

[2022-08-03 23:06] edgarrmondragon commented on #6097
@tayloramurphy yeah, that's possible and would not help us knowing which version of the package the user installed.

No, we're not. A lock file should point to a specific version, but I'm not sure it should be set _after_ users do an install, rather _before_. So either, `meltano add/lock` resolves the pip URL to the right set of exact versions (latest version in PyPI, latest git tag/commit, etc.)

[2022-08-04 02:41] #6383 closed

[2022-08-04 02:48] #6494 closed

[2022-08-04 02:51] WillDaSilva commented on #6494
Version 1.1.0 of the project context has been uploaded to Snowcat Cloud, and put into production mode.

[2022-08-04 08:25] s7clarke10 commented on #6164
Thank you all for the feedback and discussion on this topic.

We had an additional use case come up today, ingesting data from multiple schemas in the same source database in parallel (note some of the table names could be the same across source database schemas, so they need to end up in different target schemas). Ideally we don't want to have to create another inherited tap again. I really want

[2022-08-04 10:09] #6247 closed

[2022-08-04 14:30] pnadolny13 commented on #6556
@WillDaSilva I'm also not able to re-produce it locally but I did notice that it was on Windows so maybe that has something to do with it. Here the full context object I get with the message. This is also from Snowflake. The data is dropped into S3, then we COPY it into Snowflake, I cant see how that would make a difference but wanted to put it all on the table.

[code]

[2022-08-04 14:34] WillDaSilva commented on #6556
@pnadolny13 Thanks! I'll have another go at reproducing the error with this added context.

[2022-08-04 16:17] WillDaSilva opened #6566 "feature: Docker publish workflow for specific git revision"
### Feature scope

Other

### Description

Currently the Docker publish workflow (run via workflow dispatch) only builds the latest version of Meltano obtained from `poetry version --short` run on `main`. We should make the workflow take a string input which can have a git revision (e.g. `refs/pull1234/merge`, `main`, `v2.1.0`, etc.), and have the Meltano Dockerfile install with `pip install git+h

[2022-08-04 16:35] WillDaSilva opened #6568 "feature: Regular Docker builds & scans"
### Feature scope

Other

### Description

This issue is a branch off from #6493 to split out the "schedule" part from the GitHub registry part.

[2022-08-04 16:35] WillDaSilva commented on #6493
I've split out the schedule part of this issue into #6568 so that they can be addressed separately, since there's no reason for them to be tied together.

[2022-08-04 17:54] aaronsteers commented on #6097
@edgarrmondragon, @pnadolny13 and @tayloramurphy - I don't know enough about how private PyPi repos are targeted - and specifically if there's any risk of some token being part of the reference or the URL.

Do you know?

[2022-08-04 18:44] edgarrmondragon commented on #6566
@WillDaSilva meltano installed from PyPI vs trunk will differ in the UI assets, which we add to the wheel and sdist we push to PyPI. Do you think we should start building our images based on the same wheel we build for PyPI?

[2022-08-04 18:47] WillDaSilva commented on #6097
@aaronsteers @edgarrmondragon @pnadolny13 @tayloramurphy Reading the `pip_url` is risky, since it can contain all kinds of private information, and can be anything one would pass to `pip install` on the command line. Perhaps instead of messing with it, we can augment the environment context to include a list of:

[code]

for all installed third-party packages within the currently active Python env

[2022-08-04 18:50] WillDaSilva commented on #6566
@edgarrmondragon That problem would be resolved if we update `build.py` as per my suggestion in https://github.com/meltano/meltano/pull/6488#discussion_r935614362. When we pip install directly from git, pip will build a wheel using what it downloads. Since `build.py` will be there, it'll build the UI assets. If I'm not mistaken, the only thing missing would be the release marker, which ought to be

[2022-08-04 20:54] #6493 closed

[2022-08-04 21:09] pandemicsyn commented on #6467
I think thats TBD - im not sure that theres any other plugins out there (yet) that call back into meltano other than airflow and perhaps the WIP dagster plugin.

[2022-08-04 21:19] pandemicsyn commented on #6398
FYI - created https://github.com/meltano/ext-airflow so I can start moving things out of my dev repo

[2022-08-05 11:28] kgpayne commented on #6172
@tayloramurphy @aaronsteers I have confirmed the issue is still present in v2.3.0.

TLDR; we still need to fix this. Easiest way is to remove the trap door (and accept that users will in some cases store a copy of the default value in their `meltano.yml`). Harder way is make the trap door more intelligent, only calling `unset` if it is safe to do so (i.e. there are no other non-default values set

[2022-08-05 15:54] tayloramurphy commented on #6172
I'd be in favor of the easier fix. This would solve the problem but leave the door open to possibly better solutions of making it more intelligent (maybe not needed) or bringing better UX and visibility to all the possible flavors of a setting. i.e. "Setting X is false in default, true in prod environment, false via env var" etc.

@aaronsteers thoughts?

[2022-08-05 17:35] aaronsteers commented on #6172
Agreed I think the simply path is best, to simply remove the equivalence check and _always_ do a set when a set operation is requested.

I commented something similar in a related issue regarding the auto store detection. (Sorry, don't have that link handy.)

[2022-08-05 18:44] tayloramurphy commented on #3171
@cjohnhanson in looking at the [Miro board](https://miro.com/app/board/uXjVO3j_ADw=/) I think there's an easy path here (at least easy to say!).

I _think_ the precedence order we've defined in https://github.com/meltano/meltano/issues/6386#issuecomment-1195887590 would be evaluated and resolved for any `env` key first and then that final result set would be passed to plugin settings and config to

[2022-08-05 18:51] #6498 closed

[2022-08-05 19:29] aaronsteers commented on #6477
@tayloramurphy - Before we start dev work on this, I just want to confirm the spec regarding _how_ wildcards should be implemented.

Is it a correct expectation that we'll use the same parser that is used by `meltano select` syntax syntax?

The docs for `meltano state list` currently only mention `*` as wildcard, but the `select` rules are documented as:

Sidebar: `select` docs don't give instruct

[2022-08-05 19:37] aaronsteers commented on #6477
@kgpayne - Let me know (in accordance also with Taylor's response to the above), if you feel comfortable picking this up next week. Thanks!

[2022-08-05 19:43] #5983 closed

[2022-08-05 20:09] tayloramurphy commented on #6477
@aaronsteers @kgpayne If it's actually simpler to use the more expressive matching patterns, then yeah I'm great with that. At a minimum I just want it to match what's in the docs, but if we get enhanced matching that's a nice bonus.

[2022-08-05 20:42] aaronsteers commented on #3171
@tayloramurphy - Yes, agreed. I think a simplified flow from the Miro board:

1. Evaluate environment variables from context.
2. Evaluate settings, with matches from environment variables injected as needed.
3. Pass fully resolved settings values into plugin context (either in json or mapped "output" env vars, or both.)

[2022-08-05 21:09] aaronsteers opened #6574 "Auto bucketized semantic commit/PR descriptions into changelog sections"
1. The goal here would be to have zero cosmetic or cleanup work to make the changelog, and that part could be fully automated in CI.
2. The pre-work would be for Engineers (with support+guidance from EM and PM) to groom PR titles as closely as possible to what the change log entry should be.
3. Post-work would be for EM, PM, and/or Marketing to groom wording and add links - but this would happen i

[2022-08-05 21:26] edgarrmondragon commented on #6574
@aaronsteers note that we can map types to headers without needing to implement our own changelog class. In the sdk, we have:

https://github.com/meltano/sdk/blob/26a3a8ff020b1e8b33eab4cf7c61cf9c6258286b/pyproject.toml#L124-L131

[2022-08-05 23:05] pandemicsyn opened #6575 "Docker publish release stage failures"
While releasing 2.4.0 we ran into failures of the docker publish stage: https://github.com/meltano/meltano/actions/runs/2806611004

Specifically, its complaining about:

https://github.com/meltano/meltano/blob/3bf8d54b69b2758fb2f3fa7fd6bd0abde156ff3c/.github/actions/docker-build-scan-push/action.yml#L72

[2022-08-05 23:05] pandemicsyn commented on #6575
Note for when we pick this up next week. We''ll need to make sure we re-run the publish to ship the images 2.4.0 once this has been resolved.

[2022-08-05 23:12] WillDaSilva commented on #6575
We are accessing the secret directly within an action, but actions must have secrets passed in as inputs, since they don't get access to the `secrets` context.

[2022-08-06 00:37] #6575 closed

[2022-08-07 20:42] tayloramurphy commented on #6361
@lialzm I just confirmed this is accurate, but I'm not sure if you're trying to report a bug or some other problem. Please re-open or make a new issue with more detail if there's something specific.

[2022-08-07 20:42] #6361 closed

[2022-08-07 20:46] tayloramurphy commented on #6363
@kgpayne I like this. Something like:

`meltano config environment <environment_name>` would be a good iteration.

We could also do `meltano --environment= config <plugin_name>`. Looking at that now I'm not a huge fan of not having a verb after it for viewing 🤔

[2022-08-07 20:55] tayloramurphy commented on #6384
@halilduygulu I'm going to close this as it seems like it's a target-redshift issue.

[2022-08-07 20:55] #6384 closed

[2022-08-07 20:56] tayloramurphy commented on #6382
@visch can you confirm this is still a bug? @edgarrmondragon have you seen this?

[2022-08-07 21:00] tayloramurphy commented on #6373
@abhi-quinyx were you able to sort this out? Meltano installs plugins in their own virtual environments which helps with the dependency mismatch you're experiencing. We've had some users install Meltano with Airflow separately but that's not our recommended path.

[2022-08-07 21:01] tayloramurphy commented on #6364
@aaronsteers @cjohnhanson this seems important to have, particularly considering how challenging feature adds to this part of the codebase have been. Thoughts on getting this prioritized?

[2022-08-08 01:11] edgarrmondragon commented on #6382
@tayloramurphy One solution might be to implement what Douwe proposed in the old GitLab issue:

---

It seems like there's some conflict between how different plugins treat `null` config values. For some, like the SDK in its `stream_maps`, `null` is a value with special meaning, while for others there's no distinction between null and _missing_.

Douwe's comment on the old GitLab issue:

[2022-08-08 06:36] techtangents commented on #2848
This would be useful to my team during development, as we're changing the imported schema a lot.

[2022-08-08 09:42] kgpayne commented on #6253
As per 1:1 conversation with @aaronsteers we should still do this at some point, but it is less of a priority now as we have added the priority features to the existing implementation:

[2022-08-08 11:52] DanielPDWalker opened #6579 "feature: Make `hub_url` setting override the whole url & add a `hub_url_auth` setting to support for custom hubs."
### Feature scope

Configuration (settings parsing, validation, etc.)

### Description

The current `hub_url` setting only allows you to change part of the url.

[code]

We have been using a custom `discovery_url` with `discovery_url_auth` for a while, and now we are making the move over to Meltano 2.0+ we want to take advantage of the `hub_url`. We would like to use our `hub_url` with our own pat

[2022-08-08 14:21] WillDaSilva commented on #6262
Once Poetry core version 1.1.0 has been released, we'll be able to move `build.py` into a sub-directory, e.g. `scripts/`, since they have fixed the bug where it must be at the top-level.

[2022-08-08 15:30] abhi-quinyx commented on #6373
No luck yet @tayloramurphy . Here are the steps I followed :

1. run airflow (version - 2.1.4) locally through docker
2. ran a `pip install meltano`
3. `meltano init` to create a project
4. `meltano discover extractors` lists various extractors
5. `meltano add extractor tap-salesforce` results in the following error
[code]

The error complains about the pip version from the location - `/home/airfl

[2022-08-08 16:00] ReubenFrankel opened #6585 "feature: support glob patterns for paths in file bundle plugin `update` extra"
### Feature scope

CLI (options, error messages, logging, etc.)

### Description

### Overview
File bundle plugins can specify a number of files to update with the `update` extra, when `meltano upgrade files` is run.

`meltano.yml`
[code]

Currently, each file than can be updated by `meltano upgrade files` must have its path declared under `update` individually. This can lead to bloated `meltano.y

[2022-08-08 16:08] ReubenFrankel opened #6586 "bug: file bundles not added to `meltano.yml`"
### Meltano Version

2.4.0

### Python Version

3.7

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

Linux - Ubuntu 22.04

### Description

### Overview
File bundles are not added to the `meltano.yml` when `meltano add files <plugin_name>` is run. `meltano upgrade files` shows nothing to update as a result (possibly since the initial `2.0` release).

![image](htt

[2022-08-08 16:11] ReubenFrankel commented on #6586
Found this when looking into #6585.

[2022-08-08 16:17] WillDaSilva commented on #6497
https://github.com/meltano/meltano/security/code-scanning

Almost all of the detected issues stem from us using outdated packages for the Meltano webapp (i.e. they were detected in `yarn.lock`). Updating those seems like a good first step. @alexmarple thoughts?

[2022-08-08 16:37] visch commented on #6382
I can confirm this is still the behavior

[code]

[code]

[code]

[2022-08-08 16:50] tayloramurphy commented on #6373
@abhi-quinyx I'm guessing that whatever docker image you're using as a base may just have an old version of pip and/or meltano. I'm not seeing this on a clean install of meltano. @meltano/engineering any ideas?

[2022-08-08 16:54] visch commented on #6382
I haven't taken a deep dive here into the solution but my gut feeling is https://gitlab.com/meltano/meltano/-/issues/2334 was caused by discovery already containing the settings. If discovery already contains the setting then you have to make a choice between returning a null key/value or not having the config.

If my assumption above is the case then I think it makes sense to not return a key/val

[2022-08-08 16:57] DouweM commented on #6586
@ReubenFrankel This is by design: a file bundle without any "owned" files listed under `update` is not added to `meltano.yml` since it would never be used after the initial `meltano add`: https://github.com/meltano/meltano/blob/main/src/meltano/core/plugin/file.py#L31-L32

Is that incompatible with what you're trying to do?

[2022-08-08 17:13] pandemicsyn commented on #6575
Kicked this off: https://github.com/meltano/meltano/actions/runs/2819676858

[2022-08-08 17:24] pnadolny13 opened #6588 "bug: docs for plugin definition syntax missing attributes"
I was reading https://docs.meltano.com/reference/plugin-definition-syntax and noticed that there are some attributes that are missing from the syntax list. We might not be wanting to list every possible option but a few are missing that are important, comparing against the hub schemas https://github.com/meltano/hub/tree/main/schemas/plugin_definitions:

- executable
- settings_group_validation
- p

[2022-08-08 17:34] tayloramurphy commented on #6588
@pnadolny13 good catch. @edgarrmondragon @aaronsteers is there a way to automate validation of these docs with teh JSON schema  at some point in the future so that these don't drift?

[2022-08-08 18:08] WillDaSilva opened #6589 "feature: Tag Docker images with Meltano major and minor versions"
### Feature scope

Other

### Description

Currently the only tag we publish for the Meltano Docker images with the Meltano version has the full `v<major>.<minor>.<patch>` version identifier. We should also create a tag for `v<major>` and `v<major>.<minor>` to allow users to take advantage of the semantic versioning of Meltano.

[2022-08-08 18:21] edgarrmondragon commented on #6588
@tayloramurphy There are no tools that I know of to do this easily that play well with Jekyll, but we could always just use templating + walking the JSON schema tree to generate the page.

Though, the schema for Hub plugin definitions lives in `meltano/hub` and it's split by plugin type so that makes it harder to use here in `meltano/meltano`. Also, my personal preference, since we usually edit th

[2022-08-08 18:24] aaronsteers opened #6590 "Feat: Allow plugins to declare a default command"
Currently if there is no command specified in `meltano run` or `meltano invoke`, meltano will use the `executable` at the plugin level.

## Context

For the new plugin SDK, we want to be able to have a passthrough so that `meltano invoke my-dbt run` "just works" even if the actual syntax is `my-plugin invoke run`.

We want meltano to run this:

[code]

As a result of us executing this:

[code]

##

[2022-08-08 18:25] aaronsteers commented on #6590
@pandemicsyn - This is a follow-up to our conversation. What I don't know is whether we can mitigate by just declaring a default arg of `invoke` or if that has some other issues which would prevent it from being viable.

[2022-08-08 18:35] ReubenFrankel commented on #6586
Thanks for the clarification @DouweM. I see my tests here were referencing the [hub `files-dbt`](https://github.com/meltano/hub/blob/17978719efec6a2081faa21b2d53137b7272fa43/_data/meltano/files/files-dbt/meltano.yml), which doesn't include the `update` extra. Confusingly, we also have a `files-dbt` internally that does specify this with `transform/profile/profiles.yml: true` - possibly from an old

[2022-08-08 18:35] #6586 closed

[2022-08-08 18:35] edgarrmondragon commented on #6373
@tayloramurphy @abhi-quinyx I see what's going on with the old pip version. Meltano only upgrades its own version of pip (i.e. the one in its `venv`) when the `meltano install --clean` flag is used. I think when running `meltano add` and the automatic subsequent installation, Meltano _should_ also upgrade `pip`.

That's a quick fix, I think.

[2022-08-08 18:54] abhi-quinyx commented on #6373
@edgarrmondragon  thanks and that's interesting to know . so is it a fix on my end ? or something which will be handled as a bug fix ?

[2022-08-08 19:16] edgarrmondragon commented on #6373
@abhi-quinyx Yeah, I wasn't all that clear 😅. I see you're using Python 3.6 which is EOL and hasn't been supported by Meltano for some time. I think if you use a newer Python, it should also come with a newer pip and could fix your issue.

[2022-08-08 19:19] aaronsteers commented on #3437
[code]

[2022-08-08 19:24] aaronsteers commented on #3437
The pattern ideally would also work for:

- AWS Cloudwatch Events (could drive step functions or ECS executions)

[2022-08-08 19:48] abhi-quinyx commented on #6373
@edgarrmondragon  gave another try with `python - 3.7.13` now . It now fails at `pip install meltano` 😓  , tries to install `meltano-2.4.0` but complains in the end with

[code]

[2022-08-08 20:31] emilylucie commented on #5953
@afolson I would like to break these out into separate issues to start chipping away at them and planning timelines. With that in mind are you able to give me a rough overview of what you might expect to see in these tutorials and demos. Looking for a breakdown in a couple bullet points in what each tutorial or demo might ential. Is there a formula we can use?

[2022-08-08 21:55] pandemicsyn commented on #6590
👍 This seems like it could be a nice UX shortcut to have available, in general. Even without considering what we need on the SDK (which this would also help clean up).

[2022-08-09 03:30] WillDaSilva opened #6594 "Update Yarn packages"
Our Docker image scanning currently identifies 224 issues: https://github.com/meltano/meltano/security/code-scanning

Many of them stem from us using outdated Yarn packages. In #6587 I updated all of the Yarn packages to their latest version, and then ran the scan again: https://github.com/meltano/meltano/security/code-scanning?page=1&query=ref%3Arefs%2Fheads%2Fupdate-yarn-packages

Updating the Y

[2022-08-09 04:39] s7clarke10 commented on #6164
Today my team have been discussing about loading tables in parallel from source. In production some of our tables need to be full_table load as there are deletes at source so we need a full_table load to detect the deletes.

Given the 100's of tables we need to load (some very large) we need to load in parallel, a serial load will not complete in time.

I therefore will need to kick of multiple me

[2022-08-09 08:32] abhi-quinyx commented on #6373
all right I was able to fix the previous error by adding gcc in my docker image

[code]

but now the same `tap-salesforce` fails with the same error. Meltano complains again about pip version issue.

[code]

@edgarrmondragon  now I tried with `python3.7` and `meltano-2.40`

[2022-08-09 15:12] WillDaSilva commented on #6556
I haven't found any Windows-specific issues that might cause this. I did find what might be a serialization issue where a single backslash coming from Python is received as 2 because Python's JSON library serializes the single backslash (lit. `\\`) as 2 (lit. `\\\\`), and a different deserializer might treat that as 2 backslashes rather than 1, but I don't think that could be behind the issue obse

[2022-08-09 15:12] #6556 closed

[2022-08-09 15:16] #6115 closed

[2022-08-09 16:15] aaronsteers opened #6597 "bug: Meltano is slow to start"
There appears to be a bug causing some users to have a slow startup, up to 45 seconds in the provided logs

Pre 2.x:

[code]

Vs in 2.4.0:

[code]

More detail in Slack thread: https://meltano.slack.com/archives/C01TCRBBJD7/p1659998566724249?thread_ts=1659985256.778899&cid=C01TCRBBJD7

[2022-08-09 16:16] afolson commented on #5953
@emilylucie Yeah I'll open separate issues for these. I think this was one of the issues that came out of an engineering meeting so it was never fleshed out.

I don't think there's going to be a formula for these. Maybe deployment ones will be relatively consistent in getting you from project to deployment but for the most part I think these are all different enough that the outlines won't be the

[2022-08-09 16:16] #5953 closed

[2022-08-09 16:45] aaronsteers commented on #6477
Related:
- https://github.com/meltano/meltano/discussions/6270

[2022-08-09 17:31] #6128 closed

[2022-08-09 17:35] #6495 closed

[2022-08-09 18:11] #6568 closed

[2022-08-09 20:10] pandemicsyn commented on #6405
Might be worth taking a quick survey and checking with what version the common distro's have support for sqlite +3.25.1, so we can build up a recommended distro list. It's supported in Ubuntu LTS 20.04 and up, but looks like Amazon Linux 2 might ship an older version.

[2022-08-09 20:14] pnadolny13 opened #6599 "bug: CI Sending Telemetry Data"
Is it possible that our integration tests are sending telemetry data? We've had a bunch of noise in the telemetry data with short lived project IDs from the `random` project ID source that seems to look a lot like our own CI integration tests.

They started in May/June, are all using the `dev` environment, with is_ci_environment flag, using tap-gitlab and targt-jsonl, doing add/config/run.

cc @pa

[2022-08-09 20:59] pandemicsyn commented on #6405
Confirmed with a user as well that Amazon Linux 2 is impacted: https://meltano.slack.com/archives/C01TCRBBJD7/p1660078023662099?thread_ts=1660067260.492999&cid=C01TCRBBJD7

[2022-08-09 22:50] pandemicsyn opened #6600 "feature: support linking venv or allowing plugins to install package into multiple venvs"
### Feature scope

Other

### Description

With the new extension/sdk pattern - where an extension gets installed as a utility alongside something that it's wrapping or managing (e.g. superset, airflow, dbt), it would be nice if plugins could install components into discrete venv's or if they could reference or resolve a path to another plugin's venv.

Having both an extension/wrapper and the thin

[2022-08-10 15:05] WillDaSilva opened #6603 "bug: Table of content links do not scroll page to selected entry"
### Meltano Version

NA

### Python Version

NA

### Bug scope

Other

### Operating System

Tested with Firefox and Chrome

### Description

Going to https://docs.meltano.com/reference/glossary#singer should result in the page being scrolled down till the "Singer" entry is at the top of the page. Once that page is open, clicking links in the table of contents on the right should result in the pag

[2022-08-10 16:58] aaronsteers opened #6604 "Bug: Env var strict mode not working as expected"
While [testing](https://github.com/meltano/squared/pull/312#issuecomment-1191828551) within the `squared` project, and also confirmed by @visch [in Slack](https://meltano.slack.com/archives/CFG3C3C66/p1660078390407119?thread_ts=1659968745.750009&cid=CFG3C3C66), we've not been seeing the strict mode flag working as expected to raise errors.

It could be the case, in the multiple recent changes to t

[2022-08-10 17:00] visch opened #6605 "bug: Variable Inheritance, not working or misunderstanding"
### Meltano Version

2.4.0

### Python Version

3.8

### Bug scope

Configuration (settings parsing, validation, etc.)

### Operating System

Ubuntu

### Description

https://github.com/meltano/meltano/issues/5983 and the demo that was done looks interesting. Tried to read docs on this and it looks like there are not any or am I missing it?

To reproduce
[code]

Output of last comand
[code]

### C

[2022-08-10 19:17] WillDaSilva opened #6606 "bug: Coverage is only being reported for the `tests/` directory"
### Meltano Version

NA

### Python Version

NA

### Bug scope

Other

### Operating System

NA

### Description

[Codecov recently reported a 7.44% increase in coverage](https://app.codecov.io/gh/meltano/meltano/commit/bd8ff5b0ce3b3289a6b8af34a0d41067a714b77d). This was because we stopped reporting coverage for the `src/` directory - now we only report coverage for the `tests/` directory.

The PR

[2022-08-10 19:18] cjohnhanson commented on #6604
@aaronsteers @pnadolny13 -- [I think this is the source of the issue](https://github.com/meltano/meltano/blob/e4cf960955befe90c66218d50a1d73f3572bc08f/src/meltano/core/utils/__init__.py#L469), basically an exception isn't raised for the case where the string being expanded is a full match rather than a partial substitution. I can get a PR up this afternoon with a fix and a new unit test for this c

[2022-08-10 19:21] aaronsteers commented on #6604
@cjohnhanson - Great - thanks for looking into this! I've assigned to you in next iteration but also okay if you have time to pick up this week.

[2022-08-10 19:31] WillDaSilva commented on #6599
@pnadolny13 What is the value of `is_dev_build` for them? That value is `false` when the release marker is present, and `true` otherwise.

[2022-08-10 19:43] pnadolny13 opened #6607 "docs: Update "Replicate Data" docs to recommend `meltano run` instead of `meltano elt`"
https://docs.meltano.com/guide/integration still references `elt` a lot in the intro and first couple of sections. It looks like https://docs.meltano.com/guide/integration#incremental-replication-state was updated to primarily reference `run` but not the entire page.

Brought up in slack https://meltano.slack.com/archives/C01TCRBBJD7/p1660159636797759 by @visch because the outdated language made i

[2022-08-10 19:51] pandemicsyn commented on #6599
@pnadolny13 @WillDaSilva The integration tests didn't exist until late June early July (merged in on July 1st), definitely didn't exist in May yet. All 3 also have usage turned off via meltano.yml, and they all have project ID's as well.

If the project IDs were churning, the integration test would actually fail, since we diff the ending meltano YAML against an expected one (with a specific projec

[2022-08-10 20:00] pandemicsyn commented on #6599
@pnadolny13 in case its help's, the project id for the two integration tests that run tap-gitlab target-jsonl is: `abd310b5-698b-4244-a109-9490047fa2ec`: https://github.com/meltano/meltano/blob/main/docs/example-library/meltano-basics/ending-meltano.yml#L3

A quick and easy thing to peek would be throwing a `--log-level=debug` on https://github.com/meltano/meltano/blob/main/docs/example-library/me

[2022-08-10 20:52] pnadolny13 commented on #6599
@WillDaSilva `is_dev_build` is `true` but I'm now seeing that its using Windows/GCP which wouldnt be us. And @pandemicsyn's merge timeline make this seem unlikely that its us, maybe its someone else's CI pipeline.

Thanks for looking into it and for the context, I'll go ahead and close this.

[2022-08-10 20:52] #6599 closed

[2022-08-10 20:58] edgarrmondragon commented on #6606
oh this was me then! I'll tackle it.

[2022-08-11 01:03] #6606 closed

[2022-08-11 10:49] kgpayne commented on #6477
@aaronsteers @tayloramurphy this ended up being really really simple - pattern matching was implemented with push-down to the database, but the CLI `pattern` was defined as an argument and not an option (as documented). It was a 1-line fix.

However this only gives us what is documented (i.e. use of `*`), rather than the more expressive options available in `select`. Given that the implementation

[2022-08-11 13:04] longtomjr commented on #3437
I don't know if it will be out of scope for this feature request, but it might be valuable to have an option to integrate with cron / dead man's switch tools like https://healthchecks.io/.

It might also be valuable for setups based on the proposal at #5962.

The simplest way I can think of would be to add a way to have an option for an extra command that will be be added to the cron entry.

So in

[2022-08-11 14:43] #6477 closed

[2022-08-11 15:28] kgpayne commented on #2971
@aaronsteers (and anyone who picks this up in future)

@edgarrmondragon and I found a way to [disable the default behaviour](https://github.com/meltano/meltano/pull/6103/files#diff-24a50af78828a9d2013a489f195be20afb9a5d809a574aef2b6f6aeea09fb6a3R78) in #6103 by setting the `exception_formatter` back to `plain_traceback` in the stuctlog config 🙂

[2022-08-11 18:01] aaronsteers commented on #6477
Good call. And thanks for the quick turnaround.

As we discussed offline, there are advantages to keeping a simple `*` wildcard for now: specifically that this is more likely to be supported as a passthrough glob by state backends during their native `list` operations.

[2022-08-11 18:11] aaronsteers commented on #2971
@kgpayne - with the learnings from #6103 it sounds like this is closer now to a `2` in weight. Would you agree?

Specifically:

1. We add a boolean like `ff.print_rich_exceptions` (defaulted to `false`).
   - Alternatively: something like `ff.exception_formatter=[rich|default|...]`
3. We keep existing behaviors unchanged by default.
4. We print rich exceptions if the boolean feature flag is `on`.

[2022-08-11 19:03] aaronsteers commented on #6597
@dwallace0723 - Apologies for the delay. We've not yet been able to repro this on our side. We may need to ask for additional tests and/or a zoom call might be helpful to walkthrough with you. @WillDaSilva is digging deeper and may reach out for additional info if that's okay.

[2022-08-11 19:33] aaronsteers commented on #6607
@pnadolny13 and @visch - I do recall that we changed/removed/deprecated some of the special environment variables.

I agree we should rewrite the entire [Replicate Data](https://docs.meltano.com/guide/integration) guide to prefer `meltano run` over `meltano elt`.

1. [ ] Swap `meltano elt` references with `meltano run` wherever it makes sense to do so.
2. [ ] Anything that is specific to `meltano

[2022-08-11 19:49] dwallace0723 commented on #6597
@aaronsteers no problem. happy to assist in any way I can.

[2022-08-11 21:11] aaronsteers opened #6613 "Docs: New section for `Replicating Data > Troubleshooting > Performance Benchmarking`"
Some recent conversations with community members have sparked the idea for a performance benchmarking/troubleshooting section.

Possible rough content outline:

1. List the possible areas of slowdown: CLI startup,
1. Benchmark a data movement noop such as `meltano config PLUGIN_NAME list`.
1. Benchmark the EL processing times from a single tap to a single target.
1. Benchmark the tap alone. This w

[2022-08-11 21:24] cjohnhanson commented on #5981
There have been some synchronous discussions on this--documenting the results of those here.

The v1 of this feature is going to be to use a third-party library (likely [smart_open](https://github.com/RaRe-Technologies/smart_open)) that will allow us to support users configuring state backends in the form of a simple URI, e.g. `s3://some_bucket/some_prefix`, where both partial and complete state f

[2022-08-11 22:37] visch commented on #6607
@aaronsteers  My point is a bit more open which is if you search the docs for how to use `MELTANO_EXTRACT__LOAD_SCHEMA` it's not clear. You find https://docs.meltano.com/concepts/plugins#load_schema-extra which refers to `MELTANO_EXTRACT__LOAD_SCHEMA` pipeline environment variables, but doesn't' explain what pipeline environment variables are. Those are only explained in the guide.

Maybe what I"m

[2022-08-11 22:42] cjohnhanson commented on #6604
^ I was incorrect there, after spending most of yesterday diving into this, I discovered that the issue is more complex than that.

NOTE: this is a hypothesis, I haven't fully confirmed this yet.

The `EnvironmentVariableNotFound` error is raised [in the `expand_env_vars` utility function](https://github.com/meltano/meltano/blob/f0dd8f935a092212ecce911eb4c3492b4d5bd351/src/meltano/core/utils/__ini

[2022-08-11 23:02] pandemicsyn commented on #6607
Meltano run views pipelines slightly different, but since it uses the elt context implementation from the `elt` command, you do still get a subset of the pipeline env vars. Each extract load pair in the run invocation will see the [extractor](https://docs.meltano.com/guide/integration#extractor-variables) and [loader](https://docs.meltano.com/guide/integration#loader-variables) pipeline vars for t

[2022-08-11 23:29] aaronsteers commented on #6607
@pandemicsyn - To confirm, _within the EL pair_, the extractor can see the loader vars and vice versa, yes? The primary use case is the `LOAD_SCHEMA` one, tbh, since that has the critical role of allowing `tap-github` data to land in one schema and `tap-slack` to land in another schema, keeping the target's data organized without having to use plugin inheritance on the target, one target declarati

[2022-08-12 07:45] paulorijnberg commented on #2019
Hi, we are currently using the image version `meltano/meltano:latest-python3.9`, and we are stumbling upon the same error message as shown above. How do we resolve this?

[2022-08-12 09:15] aphethean1 commented on #6579
Adding some context to this issue.

**As a user, I need to enable meltano discover / add to lookup plugins from a private and secure hub**

We are currently using meltano 1.0 to add plugins from our own discovery API.  As the meltano 1.0 API was simply `GET https://.../discovery.yml` - we only need to set the URL and add authentication headers.

To have the same ability to add plugins from an alte

[2022-08-12 10:38] aphethean1 opened #6615 "feature: developing plugins locally before publishing to hub"
### Feature scope

Configuration (settings parsing, validation, etc.)

### Description

**As a user, I want to develop plugins with dependencies before publishing these plugins to the HUB**

### Background

We use a `file` bundle type plugin to distribute analytics:  `analyze-google-analytics`

We use a `file` bundle type plugin to distribute models:  `dbt-google-analytics`

We use an `extractor`

[2022-08-12 13:12] ReubenFrankel commented on #6550
This was resolved by #6578 and can be closed. May need to revisit as per #6416.

[2022-08-12 15:15] visch commented on #2019
Here's my working docker file with the changes I had to add for this, hope it helps!

`RUN apt install libpq-dev -y` is the difference

[code]

[2022-08-12 17:54] rawwar opened #6619 "feature: Make `.meltano` path configurable"
### Feature scope

Configuration (settings parsing, validation, etc.)

### Description

Making creation of `.meltano`  folder configurable will make it easy when running Meltano projects in read-only file systems. This will be similar to how Meltano accepts `db` path

[2022-08-12 18:07] rawwar commented on #6619
Thanks @edgarrmondragon . I got confused and created this issue on wrong repo. Thanks for fixing this

[2022-08-12 18:12] pnadolny13 opened #6620 "Remove legacy telemetry events"
We've had full coverage for our new unstructured telemetry events for some time now, presumably all major bugs have been spotting, and the downstream Squared dbt transformations [don't rely on the legacy events](https://github.com/meltano/squared/issues/340) as a primary source. We can go ahead and remove any extra code for these legacy events and stop double sending a backup structured event (if

[2022-08-12 18:15] WillDaSilva commented on #6620
Thanks for ensuring they're no longer necessary @pnadolny13! Removing the legacy telemetry code will be satisfying.

[2022-08-12 19:18] aaronsteers commented on #6619
@rawwar - Love this idea. Thanks for raising.

Is this a feature you may be interested in contributing?

[2022-08-12 20:22] rawwar commented on #6619
Yes, I will be working on this. As of now, I am doing some analysis on how meltano supports other configurations. Once I am done with that, i'll post my approach

[2022-08-13 01:20] sjcotto opened #6623 "Can't make incremental work with tap-mongodb"
Hi,

Trying to do the following

enviroment variables

```MELTANO_DATABASE_URI=...```

```meltano elt tap-mongodb target-postgres --transform=skip --state-id=mongo-to-postgres --catalog=catalog-pd.json```

looking into the tap's code it seems it not loading the state

it's like always start from scratch

[code]

it's doing the find {} always and not passing the date.

in catalog i have the replica

[2022-08-13 02:45] jorge-gt3 commented on #2019
I just installed meltano using the latest docker image available and I am getting the same error when I try to add the redshift loader.

<details><summary>here is the full error...</summary>
<pre><code>
Installing loader 'target-redshift'...
Loader 'target-redshift' could not be installed: failed to install plugin 'target-redshift'.
  error: subprocess-exited-with-error

  × python setup.py egg_in

[2022-08-13 13:17] EMCP opened #6624 "bug: Fresh Install via PIP showing warnings"
### Meltano Version

2.4.0

### Python Version

3.8.10

### Bug scope

Other

### Operating System

Ubuntu 22.04 (LXD)

### Description

I am running within an LXD container, attempting to just install Meltano.. with no pinning or help by myself other than getting the latest PIP

[code]

and then any meltano commands basically don't work

[code]

### Code

[code]
[code]

[2022-08-13 13:37] EMCP commented on #6624
I *think* most of my problems go away when I prepend this

[code]

[2022-08-13 13:41] sjcotto commented on #6623
here the log in debg mode

[code]

in the end is doing the find ({})

[2022-08-13 14:52] sjcotto commented on #6623
i can see the state if populated with the meltano state comand

[code]

but running the meltano elt command is not

any ideas?

[2022-08-13 16:22] edgarrmondragon commented on #6623
Hi @sjcotto,

I think the definition of the tap is missing the `state` capability. You can override the capabilities in `meltano.yml`:

[code]

If that solves the issue, then the definition of the tap in Meltano Hub has to be updated.

[2022-08-13 17:50] seajhawk opened #6625 "bug: `meltano run` doesn't support --environment argument"
### Meltano Version

2.2.0

### Python Version

3.9

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

Windows 11

### Description

This command fails:
`meltano --environment dev run tap-csv target-postgres`

Due to some other limitations in meltano, I have to create multiple environments in my meltano.yml. Therefore, I would like to be able to call `meltano run` w

[2022-08-13 17:55] #6625 closed

[2022-08-13 17:56] seajhawk commented on #6625
This was an issue with my meltano.yml, not the CLI.

though it would have been helpful if the error message provided more useful information.

[2022-08-13 18:36] EMCP opened #6626 "feature: (docs) remove legacy DBT mentions from guides/docs"
### Feature scope

Other

### Description

I am seeing mentions of the now legacy `dbt` install.. should we just go with

ie

https://github.com/meltano/meltano/blob/a95613a146dbfada79584edb6dfdfce25837af8e/docs/src/_guide/plugin-management.md?plain=1#L44

I can do a PR with the ` dbt-snowflake ` or `dbt-postgres` but wasn't sure if there's a reason yet to switch

[2022-08-14 01:41] edgarrmondragon commented on #6625
@seajhawk thanks for reporting. You're right, that error is caused by an unexpected data structure, but the message is not too helpful.

Perhaps having something like https://github.com/meltano/meltano/issues/2964 could help.

[2022-08-14 06:35] rawwar commented on #6619
@aaronsteers .. Can you please check the draft pr.

[2022-08-14 12:16] sjcotto commented on #6623
Hi,thanks for repling

Tried it but it did't work

[code]

```meltano elt tap-mongodb target-postgres --transform=skip```

[code]

[2022-08-14 12:18] sjcotto commented on #6623
variables are:

[code]

[2022-08-14 12:52] sjcotto commented on #6623
thanks, it's working!

[2022-08-14 12:52] #6623 closed

[2022-08-14 13:22] seajhawk commented on #6625
@edgarrmondragon - I appreciate you triaging my issue even though it was closed.
Yes, I agree that the validation is super important. However, that may require you to have schema validation for each of the underlying plugins... hmmm...

Here are a couple of recommendations:
1. implement the validation as a warning first (don't fail). There may be some things that your schema validation would fail

[2022-08-14 13:30] sjcotto commented on #6623
https://github.com/meltano/hub/pull/723

[2022-08-15 14:10] WillDaSilva opened #6629 "bug: xpassing tests on Windows"
### Meltano Version

2.4.0

### Python Version

NA

### Bug scope

Other

### Operating System

Windows

### Description

Tests which have been marked as `xfail` (i.e. they are expected to fail) on Windows are passing. Example:

https://github.com/meltano/meltano/runs/7813948336

[code]

Perhaps https://github.com/meltano/meltano/issues/3444 has already been resolved, in which case we can close it

[2022-08-15 14:13] WillDaSilva opened #6630 "bug: Pytest warnings when using mssql DB backend"
### Meltano Version

2.4.0

### Python Version

NA

### Bug scope

Other

### Operating System

Linux

### Description

Pytest is catching warnings emitted during testing with the mssql DB backend. Example:

https://github.com/meltano/meltano/runs/7813948143

[code]

It's the same warning being emitted 90 times.

### Code

Running a test that raises the warning with `python -Werror pytest ...` res

[2022-08-15 14:25] visch commented on #6613
From a users perspective a guide would be very helpful maybe something like this (Which might help drive some of this?)

[code]

[2022-08-15 14:35] #6454 closed

[2022-08-15 15:28] #6406 closed

[2022-08-15 15:37] AvinashGupta802 opened #6632 "bug: Test connector - asyncio"
### Meltano Version

2.4.0

### Python Version

3.9

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

Rocky Linux release 8.6

### Description

[code]

above command works fine till version 2.1.0 and python 3.9.7.

But it fails when i switched to 2.2.0,2.3.0 and 2.4.0

[code]

To fix it , I changed file in `cli/config.y`:

[code]

Kindly get it check at your end a

[2022-08-15 15:45] WillDaSilva opened #6633 "bug: `meltano config tap-postgres test` raises `RuntimeError: Event loop is closed`"
### Meltano Version

2.2.0

### Python Version

3.9

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

Rocky Linux release 8.6 (Green Obsidian)

### Description

Originally reported on Slack: https://meltano.slack.com/archives/C013Z450LCD/p1660557796688659

The error is raised from https://github.com/meltano/meltano/blob/1eaec5d9acc76e174f0058b1cb43e2c76eaeea65/src

[2022-08-15 15:56] pnadolny13 opened #6634 "Docs: add FAQ about invoke with commands vs arbitrary arguments"
Related to a slack thread https://meltano.slack.com/archives/C01UW21TM98/p1660082293374549.

A user was confused about using invoke with commands vs with arbitrary arguments. I found [docs](https://docs.meltano.com/reference/command-line-interface#commands) for it that answer the question pretty well. It's been brought up in the past but having an FAQ page that shows the error message `Command 'fr

[2022-08-15 16:35] aaronsteers commented on #2019
@jorge-gt3 - Can you confirm you are using the `datadotworld` variant of `tap-redshift`? That is the default for tap-redshift but just want to confirm.

I can see this tap uses the non-binary version of the postgres library: https://github.com/datadotworld/tap-redshift/blob/master/setup.py#L54

Also, can you confirm if you already have your own image derived from the core meltano image? And if so,

[2022-08-15 16:39] tayloramurphy commented on #6634
@afolson what are your thoughts on something like this? Would you prefer to see something in the command line output or are docs the right solution here?

[2022-08-15 16:48] tayloramurphy commented on #6128
@edgarrmondragon did you intend to close this issue with #6543 ?

[2022-08-15 16:50] edgarrmondragon commented on #6128
@tayloramurphy yes, the warning caused by Ruamel dumping and the trying to parse back `discovery.yml` should be gone now.

[2022-08-15 18:30] tayloramurphy commented on #6550
Closed via https://github.com/meltano/meltano/pull/6578

[2022-08-15 18:30] #6550 closed

[2022-08-15 18:43] tayloramurphy commented on #6632
@pandemicsyn @edgarrmondragon can you validate this bug and potential fix?

@AvinashGupta802 perhaps a PR for this would be better if you're willing to submit one

[2022-08-15 19:04] edgarrmondragon commented on #6632
@AvinashGupta802 @tayloramurphy I can't reproduce this on macOS and Python 3.9.13, and Ubuntu with the same Python version doesn't seem to have this issue.

I'd suggest upgrading to the latest Python 3.9.x, because I do see some asyncio bug fixes in the changelog: https://docs.python.org/3.9/whatsnew/changelog.html#python-3-9-8-final

[2022-08-15 19:11] aaronsteers commented on #6373
@abhi-quinyx - Can you try with `--log-level=DEBUG` in case additional info can be found about why pip is not able to be updated?

[2022-08-15 19:59] aaronsteers commented on #3335
@tayloramurphy - This is related to our conversation today.

[2022-08-15 20:05] dwallace0723 commented on #6597
cc @dehume

[2022-08-15 20:52] WillDaSilva commented on #6633
Duplicate of https://github.com/meltano/meltano/issues/6632

[2022-08-15 20:52] #6633 closed

[2022-08-15 21:18] pandemicsyn commented on #6398
@tayloramurphy @aaronsteers how are y'all thinking we should transition to the new extension and what do we want the migration to be like for users?

Just as a reminder, the soon-to-be old Airflow plugin was an Orchestrator, but the new extension combines Airflow, the extension, and files-airflow into a single Utility plugin. That does actually give us a bit of flexibility - since it means users c

[2022-08-16 06:14] AvinashGupta802 commented on #6632
I tried with Python 3.9.13 same error. Screenshot attached. Post change in code it works. Screenshot attached
![image](https://user-images.githubusercontent.com/68946032/184810352-4f082e6a-33ea-44e9-98d9-3db0997c4660.png)
![image](https://user-images.githubusercontent.com/68946032/184810400-e513e07f-3d8f-4d9e-9f71-fe07f34c95e8.png)
![image](https://user-images.githubusercontent.com/68946032/184810

[2022-08-16 14:05] pandemicsyn commented on #6632
@AvinashGupta802 I'm curious, are you seeing similar issues with other commands such as  `meltano invoke` or `meltano test` ?

[2022-08-16 14:19] tayloramurphy commented on #6398
@pandemicsyn strong agree. There will need to be a lot of docs update around this as well and it's not clear to me yet how we'll put this on the Hub (cc @afolson on docs concern).

Do you have any concerns around naming? If we have an orchestrator and a utility both named `airflow` that should be okay for install, but config operations need the type flag, right?

[2022-08-16 14:32] AvinashGupta802 commented on #6632
invoke command works fine. Issue only with test command

[2022-08-16 14:36] pandemicsyn commented on #6398
@tayloramurphy Yea, actually I was going to float that maybe to start with we call it `ext_airflow` (at least temporarily)? To alleviate any potential confusion? The naming is actually more problematic with superset since that already exists as a utility plugin with custom internal meltano handling. So using `ext_superset` there already.

[2022-08-16 14:39] pandemicsyn commented on #6607
@aaronsteers yep both the extractor and loader can see all vars.

[2022-08-16 15:08] #6620 closed

[2022-08-16 15:22] tayloramurphy commented on #6398
@pandemicsyn I have a preference of a suffix, maybe `airflow_ext` or `airflow_beta`?

[2022-08-16 15:30] tayloramurphy commented on #6603
@afolson can you look at this? I can confirm that it doesn't jump to it, but it works for other pages.

[2022-08-16 15:51] tayloramurphy commented on #6605
@visch I think this is a misunderstanding, but I'd love to get the docs updating to make it clearer. You're trying to reference an envvar across plugins. The demo and issue you linked is about enviornment variables for the same plugin across enviornments / default configs. Also, I don't know if `config list` actually evaluates the environment variables. It may only happen once you invoke it. @cjoh

[2022-08-16 16:27] pandemicsyn commented on #6398
@tayloramurphy This will actually just be the name used in the meltano yaml and hub defs right? In that case, im cool with either (personally preferring the _beta suffix).

The repos/packages themselves all use a prefix pattern, in part because that's what we have for everything else: files-airflow, tap-thing, etc is that still kosher?

[2022-08-16 16:46] WillDaSilva opened #6635 "bug: Some command help text has outdated `meltano.com/docs` links"
### Meltano Version

2.4.0

### Python Version

NA

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

NA

### Description

Affects 8 links in the Meltano codebase, with one of those being used to generate a few other links in the UI.

### Code

_No response_

[2022-08-16 17:17] jorge-gt3 commented on #2019
@aaronsteers I was using the default <code>target-redshift</code>, which i think is from <code>pipelinewise</code>.  I have not tried making my own image yet, I was just testing with the latest python 3.7, 3.8 and 3.9 images available. I think I also tried the Meltano 2.3 image at some point.  I got the same error on all of them after running <code>meltano add loader target-redshift</code>. I will

[2022-08-16 19:03] edgarrmondragon commented on #6464
Related: #6637

[2022-08-16 19:46] pdebelak opened #6638 "bug: Error message "Directory meltano already exists." is displayed when user doesn't have write access to a directory for `meltano init`"
### Meltano Version

2.1.0

### Python Version

3.8

### Bug scope

CLI (options, error messages, logging, etc.)

### Operating System

Ubuntu 18.04 and MacOS

### Description

The error message "Directory meltano already exists." is displayed when you don't have write access to the directly you're trying to run `melano init` in.

### Code

[code]

[2022-08-16 20:43] edgarrmondragon commented on #6638
@pdebelak thanks for reporting!

@tayloramurphy this seems like an easy fix by simply catching the specific exceptions for when the directory already exists, and also when the user doesn't have permission to create the directory.

[2022-08-16 21:49] pandemicsyn commented on #6632
It looks like this is most likely related to https://github.com/python/cpython/issues/88050. The test/validation actually **always** terminate the spawned subprocess early:

https://github.com/meltano/meltano/blob/ecac36b7d1094955e3ba2c7fd98d4f4201c4fe25/src/meltano/core/plugin_test_service.py#L70-L75

This error could also trigger on `meltano run` or `meltano elt` invocations where a plugin is be

[2022-08-16 22:09] edgarrmondragon commented on #6632
@pandemicsyn @WillDaSilva `process._transport.close()` seems reasonably stable and might be good enough. I guess the options then are

- do we wait for the current state of things to cause more issues for users because of the underlying bug or
- do we use the "protected" API and then wait for that to break with some future Python release

?

[2022-08-16 22:21] #6585 closed

[2022-08-16 22:51] pandemicsyn commented on #6632
Since this is sort of an edge case - personally, i think I'd be ok with using the protected call and trying to keep tabs on that issue to resolve upstream. I'm guessing that's not getting back ported 3.7. This also isn't our first run-in with quirky asyncio.Subprocess behavior. We also had:

https://gitlab.com/meltano/meltano/-/issues/3347#note_894964904

[2022-08-16 22:55] pandemicsyn commented on #6632
@edgarrmondragon I guess there's also a sort of middle ground. Since this seems more likely to happen in `meltano test` where we always terminate the subprocess, we could maybe only implement the workaround of using the projected API there.

[2022-08-16 23:13] edgarrmondragon commented on #6632
@pandemicsyn that works for me

[2022-08-17 15:46] WillDaSilva opened #6641 "feature: Improve logging of unhandled exceptions in taps/targets"
### Feature scope

CLI (options, error messages, logging, etc.)

### Description

Original Slack thread (private channel): https://meltano.slack.com/archives/C01V5RPLLN4/p1660633635134939

For context, [this tweet](https://twitter.com/pdrmnvd/status/1558942206395789312) identified a longstanding issue where taps and targets that do not use our SDK may have uncaught exceptions that are printed to s

[2022-08-17 16:09] WillDaSilva commented on #6597
Thanks to @dehume, I've been able to review some fairly detailed profiling information taken from the slow run. I've attached a call graph below.

Almost the entire execution is spent running the standard library function `copy.deepcopy`. The two sites which are making the slow calls to `deepcopy` are:

- https://github.com/meltano/meltano/blob/v2.4.0/src/meltano/core/project_files.py#L47
- https:

[2022-08-17 18:16] pandemicsyn commented on #6632
@AvinashGupta802 if you would like to take a stab at fixing this we'd definitely be open to a PR that implements the fix from https://github.com/python/cpython/issues/88050#issuecomment-1093911484 for https://github.com/meltano/meltano/blob/ecac36b7d1094955e3ba2c7fd98d4f4201c4fe25/src/meltano/core/plugin_test_service.py#L70-L75.

@tayloramurphy if this goes on the backlog, realistically it's proba

[2022-08-17 19:19] edgarrmondragon commented on #6597
@WillDaSilva thanks for digging! I think it's fairly safe to use `copy.copy` instead in

https://github.com/meltano/meltano/blob/3bf8d54b69b2758fb2f3fa7fd6bd0abde156ff3c/src/meltano/core/project_files.py#L47

That might improve performance somewhat.

[2022-08-17 19:26] aaronsteers commented on #6597
This makes sense to me too - especially since that deepcopy reference is recursively called.

[2022-08-17 19:28] #6635 closed

[2022-08-17 20:12] WillDaSilva commented on #6597
@edgarrmondragon Thank you for the suggestion. That helps, and is one of the improvements I had tried, but is insufficient on its own. I'm thinking we can probably solve this by caching a hash of `meltano.yml` in-memory along with data parsed from it. Then on subsequent reads, if the hash matches, we can avoid parsing the file, and the steep performance cost that comes with it.

Running `strace` o

[2022-08-17 21:22] edgarrmondragon commented on #6597
@WillDaSilva Yeah, that's too much for what should be a read operation 😬.

[2022-08-17 22:02] WillDaSilva commented on #6597
Looks like `deep_merge` does not preserve YAML comments. Might be worth addressing as another issue.

[2022-08-18 01:11] edgarrmondragon commented on #6597
@WillDaSilva that's handled elsewhere by `_raw_contents_map`:

https://github.com/meltano/meltano/blob/3bf8d54b69b2758fb2f3fa7fd6bd0abde156ff3c/src/meltano/core/project_files.py#L80

AFAICT `deep_merge` doesn't need to preserve comments since the merged Meltano object wouldn't care about those. Wdyt?

[2022-08-18 01:21] edgarrmondragon commented on #6373
@abhi-quinyx I think what would also help is a look at the Dockerfile. It seems that the base (Airflow?) image being used restricts virtualenvs somehow.

[2022-08-18 07:29] AvinashGupta802 commented on #6632
@pandemicsyn ,  I have already informed with code changes done at my end  to resolve the issue faced by me.

[2022-08-18 15:36] kgpayne commented on #3153
@aaronsteers (FYI @tayloramurphy), notes from our 1:1 yesterday:

In testing `meltano config tap-gitlab set --interactive` I came across an example setting description (`tap-gitlab` setting `private_token`) that is long and includes Markdown formatting. This does't look great as plain text (spot the embedded video 😅):

![Image](https://user-images.githubusercontent.com/5585874/185431751-48ec0924-b

[2022-08-18 17:36] #6630 closed

[2022-08-18 21:57] DouweM opened #6645 "Give `http://melta.no` troubleshooting help link when plugin fails, with CTA to Slack in web copy"
Spec (edited by AJ):

When Meltano fails, we'll print a standard error message:

<details>
  <summary>Orig. issue description (Douwe)</summary>

When `meltano invoke` or `meltano run` fails, a user is more likely to manage to solve the issue and stick with Meltano if they join Slack than if they don't, as evidenced by the number of people who responded to the survey saying the docs weren't always

[2022-08-18 23:34] edgarrmondragon commented on #3171
Another user asked for this in Slack. Also in relation to https://hub.meltano.com/extractors/tap-spreadsheets-anywhere#tables.

https://meltano.slack.com/archives/C01TCRBBJD7/p1660854848113529?thread_ts=1660828425.701879&cid=C01TCRBBJD7

[2022-08-19 14:57] tayloramurphy commented on #3153
@kgpayne option 2 is a good iteration and I like AJ's comments in https://github.com/meltano/meltano/issues/2971#issuecomment-1212326558 on having it behind a feature flag and configurable.

I can open a new issue on the possibility of a `short_description` key for settings. Note that the `usage` key is for the entire plugin and not a specific setting.

[2022-08-19 17:01] tayloramurphy commented on #6645
@DouweM I'm in favor of adding it.

@aaronsteers what do you think about this:

* Add text like `Need help fixing this problem? Join our Slack at meltano.com/slack to talk to the community and team.` that appears at the end of an error message.
* Make this opt-out functionality b/c once I've joined Slack I'd be terribly annoyed at having it constantly ask me
  * Perhaps we can have a feature flag

[2022-08-19 17:29] aaronsteers commented on #3153
@kgpayne - Yes, I agree option 2 is great for this phase.

We want to be careful that the addition of `rich` doesn't automatically change other behaviors, but once the feature flag is in place for #2971, that should be safe to add.

Also - thanks for the rendering example. I think it looks nice and is worthwhile having markdown-rendering-to-terminal as a tool in our toolbox overall.

[2022-08-19 20:23] tayloramurphy opened #6649 "spike: take an existing dbt project into a new or existing Meltano project"
**Problem:** we don't currently have a good story for how users should take an existing dbt project and bring it into their Meltano project. Do they copy and paste the files? What about their environment variables, etc.?

**Spike**: Spend a few hours to workshop some possible paths for taking an existing, running dbt project and have it be managed by Meltano.

Key questions that pop up immediately

[2022-08-19 20:25] tayloramurphy commented on #6649
@aaronsteers I'll bring this one to our next sync meeting.

[2022-08-19 20:43] #3407 closed

[2022-08-19 20:56] tayloramurphy commented on #6615
@aphethean1 it seems like adding `--from_ref` would basically solve this problem, right? We'd talked about that in the original spec but it fell out of scope given the time constraints.

I don't think we'll prioritize this ourselves right now, but I'm in favor of it! cc @aaronsteers @edgarrmondragon

[2022-08-19 20:58] tayloramurphy commented on #6624
@meltano/engineering any suggestions or paths forward here?

[2022-08-19 21:01] tayloramurphy commented on #3420
Closing as we have this documented on the Hub https://hub.meltano.com/transformers/dbt-bigquery#command-docs-generate

[2022-08-19 21:01] #3420 closed

[2022-08-19 21:02] tayloramurphy commented on #6626
@EMCP thanks for opening this issue. Yes, we want to point folks towards the adapter-specific versions. I think `dbt-postgres` is good as it promotes open source 😄

@afolson @sbalnojan this would be good to get prioritized.

[2022-08-19 21:42] edgarrmondragon commented on #6624
@EMCP @tayloramurphy Dependency resolution is weird 🤔. I don't know why your installation of `pip` is getting all those incompatible versions without trying older versions, and for example  resolving to Flask `2.1.3` since that's the latest compatible with Werkzeug `<2.2`.

Installing fresh with `pipx`:

[code]

We could still prevent this buggy resolution by

- requiring Flask `<2.2` to ensure co

[2022-08-19 21:43] pandemicsyn commented on #6645
@DouweM @tayloramurphy I think it would be nice to make this useful for folks that are a bit more savvy and just need a little guidance as well. There's also the whole, teaching a person how to fish aspect and all that jazz.

What about doing something like:

[code]

And then that target URL can be a dedicated landing page for helping folks. In the 1st version maybe just a basic page with two CTA'

[2022-08-19 22:52] edgarrmondragon commented on #6615
@tayloramurphy @aphethean1 Note that

should no longer the case and developing file bundles with a local Hub instance should be working now: https://github.com/meltano/meltano/pull/5999#issuecomment-1146404199

[2022-08-20 12:51] aphethean1 commented on #6615
@tayloramurphy yes, I think `--from_ref` would be ideal.  Running the hub locally for this development use case seems pretty heavy!

[2022-08-22 14:48] tayloramurphy commented on #6645
@pandemicsyn yeah, that's a much better idea 😄

I'll spin out a new issue for creating the troubleshooting page. This issue can be about adding the text in the help output still. I'm in favor of using `https://melta.no/` too.

[2022-08-22 14:51] tayloramurphy opened #6654 "docs: add Troubleshooting page to the Guides"
As suggested by @pandemicsyn in https://github.com/meltano/meltano/issues/6645#issuecomment-1221113728 it would be helpful to have a troubleshooting page where we can direct folks for how to solve problems.

@afolson is this something you think your team could get spun up? I think we can keep it fairly simple to start and add more to it.

First links i think should be Slack and the issue tracker,

[2022-08-22 17:36] nickhamlin commented on #2019
If it's helpful, I also just got stuck on this and found my way to this issue by searching the error in meltano slack (very useful!). @visch 's recommended workaround of adding `RUN apt install libpq-dev -y` to our dockerfile appears to have allowed the various taps (and airflow, for that matter) that depend on `psycopg2-binary` to install correctly again.

[2022-08-22 18:46] #3398 closed

[2022-08-22 19:57] tayloramurphy commented on #6619
@edgarrmondragon assigning to you since you're on the PR

[2022-08-22 19:59] tayloramurphy commented on #6605
Ping on the above @cjohnhanson since I know you were OOO

[2022-08-22 19:59] tayloramurphy commented on #6605
Assigning to @cjohnhanson to help with triage, can be assigned to someone else or pulled out of milestone.

[2022-08-22 20:04] tayloramurphy commented on #6253
This was previously weighted at an 8. I'm pushing this to the backlog but we can pull forward if deemed more urget.

[2022-08-22 20:15] tayloramurphy commented on #6382
@edgarrmondragon @aaronsteers ping on this to get your take. Seems like we may want to have some configurable behavior on whether or not to drop nulls. Could this be an option for `capabilities`?